@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600\a,600i,700,700i,800,800i");
body {
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #787676;
}

/* footer  */
.footer-back {
  background-color: #171717;
  min-height: 300px;
  margin-top: 20px;
  padding: 20px 0;
}

#header-body {
  color: #fff;
}

.header-static {
  padding: 10px 0;
}

nav {
  display: block;
  float: right;
}
nav ul {
  width: 100%;
  padding-top: 30px;
}
nav ul ul {
  padding: 1em 0;
}
nav li {
  display: inline;
  padding: 0 20px;
  border-right: 1px solid #ddd;
}
nav li:last-child {
  border-right: none;
}

.block1 {
  float: left;
  margin-left: 10px;
}

.subtitle {
  padding-left: 20px;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  color: #333;
}

/* Pfolio #1 */
.folio1 {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
  border-radius: 50%;
  border: 5px solid #ddd;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.folio1 .face {
  width: 300px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

/* styling effects when hover takes effect */
.folio1 img {
  display: block;
  height: 100%;
  position: relative;
}

.folio1 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
}

.folio1 p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.folio1 a.icon {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #fff;
  border-radius: 25px;
  color: #000;
  text-transform: uppercase;
}

/* if you want link hover over effects */
.folio1 img {
  transition: 0.5s;
}

.folio1 .face {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 500ms;
}

.folio1 h2 {
  opacity: 0;
  background: transparent;
  transform: rotate(180deg) skew(100deg, 100deg);
  transition: 500ms;
  font-size: 32px;
}

.folio1 p {
  font-size: 22px;
  opacity: 0;
  transform: rotate(180deg) skew(100deg, 100deg);
  transition: 500ms;
}

.folio1 a.icon {
  opacity: 0;
  transform: translateY(100px);
  transition: 500ms;
}

/* Hover overs */
.folio1:hover {
  border: 5px solid #0F243F;
  transition: 1200ms;
}

.folio1:hover .face {
  opacity: 1;
  transition-delay: 0s;
  cursor: pointer;
}

.folio1:hover img {
  transition-delay: 0s;
}

.folio1:hover h2 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.1s;
}

.folio1:hover p {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.2s;
}

.folio1:hover a.icon {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.3s;
}

/* Taxonomy styles */
h1, .h1 {
  font-size: 28;
  font-weight: 700;
}

h2, .h2 {
  font-size: 24;
  font-weight: 700;
}

h3, .h3 {
  font-size: 20;
  font-weight: 700;
}

h4, .h4 {
  font-size: 18;
  font-weight: 700;
}

h5, .h5 {
  font-size: 16;
  font-weight: 700;
}

h6, .h6 {
  font-size: 14;
  font-weight: 700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Lato', sans-serif;
  color: #333;
}

strong {
  color: #000;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

header {
  border-top: 10px solid rgba(0, 0, 0, 0.58);
}

/* End Taxonomy Styles */
/* Team Mates */
.team-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #4F4F4F;
}

.team-rows {
  margin: 40px 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 40px 0;
}

.team-member {
  display: block;
  width: 100%;
  height: auto;
}

/* team page */
.hero-team {
  border-bottom: 10px solid rgba(0, 0, 0, 0.58);
  border-top: 10px solid rgba(0, 0, 0, 0.58);
  margin-top: 20px;
}

.page-title {
  background: transparent url("icons/red-back.jpg") repeat scroll 0 0;
  border-bottom: 1px solid #c9c9c9;
  height: 75px;
  margin-bottom: 20px;
}

.page-title-about {
  background: transparent url("icons/red-back.jpg") repeat scroll 0 0;
}

.page-title-dark {
  background: transparent url("icons/black-back.jpg") repeat scroll 0 0/contain;
}

.page-title-darkblue {
  background: transparent url("icons/dark-blue-back.jpg") repeat scroll 0 0;
}

.divi {
  border-bottom: 1px solid #212121;
  display: block;
  margin: 10px 0;
  width: 100%;
}

.center-it {
  margin: 50px 0 0 50px;
  left: 50%;
  top: 50%;
}

.blackout-1 {
  background: rgba(0, 0, 0, 0.41);
  height: 100%;
}

.blackout-none {
  height: 100%;
}

.color-block {
  position: relative;
}

.rotatezhp1 {
  -webkit-transform: rotateZ(-10deg);
  /* Safari */
  transform: rotateZ(-10deg);
  /* Standard syntax */
}
