
.delete-image {
  color: red;
  cursor: pointer;
}

.delete-image {
  position: relative;
  z-index: 9;
  top: 20px;
}

.attachment-post-thumbnail {
  display: inline block;
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none;
}

.hideme {
  display:  none  !important;
}

.meta-image {
  height: 100px;
  overflow: hidden;
}

.pull-right {
	float: right;
}

.pulldown-text {
  padding-top: 0.5em;
}

.color-red,
.red {
  color: red;
}

.text-center {
	text-align: center;
}
