
header {
    border-top: 10px solid rgba(0, 0, 0, 0.58);
}

.header-static {
    padding: 10px 0;
}

nav {
	display:block;
	float:right;
	ul {
		width:100%;
		padding-top:30px;
	}
	li {
		display:inline;
		padding:0 20px;
		border-right:1px solid #ddd;
		&:last-child {
			border-right:none;
		}
	}
}
