/*
 *  tcc-fluidity/css/colors/green.css
 *
 */

$colorName : green;
$primaryColor : #39b54a;
$colors    : ( "background"    : $primaryColor,
               "bgHighlight"   : scale-color($primaryColor,$lightness:-20%),
               "textcolor"     : #FFFFFF,
               "textHighlight" : #FFFFFF);

@import "color_template";
