/*
 *  tcc-fluidity/css/colors/orange.css
 *
 */

$colorName : orange;
$primaryColor : #f7941d;
$colors    : ( "background"    : $primaryColor,
               "bgHighlight"   : scale-color($primaryColor,$lightness:-20%),
               "textcolor"     : #FFFFFF,
               "textHighlight" : #FFFFFF);

@import "color_template";
