/*
 *  tcc-fluidity/css/colors/red.css
 *
 */

$colorName : red;
$primaryColor : #ff0000;
$colors    : ( "background"    : $primaryColor,
               "bgHighlight"   : scale-color($primaryColor,$lightness:-20%),
               "textcolor"     : #FFFFFF,
               "textHighlight" : #FFFFFF);

@import "color_template";
