
body{
        margin:0;
        width:100%;
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        font-size:16px;
        color:#787676;
}

@import "tcc/tcc";

.divi{
        border-bottom: 1px solid #212121;
    display: block;
    margin: 10px 0;
    width: 100%;
}
.center-it {
  margin: 50px 0 0 50px;
  left: 50%;
  top: 50%;
}

.blackout-1{
        background:rgba(0, 0, 0, 0.41);
        height:100%;
}
.blackout-none{

        height:100%;
}
.color-block{
        position:relative;
}
.rotatezhp1{
         -webkit-transform: rotateZ(-10deg); /* Safari */
    transform: rotateZ(-10deg); /* Standard syntax */
}
