/*
 *  css/colors/blue.css
 *
 */
.input-group .btn-fluidity,
.input-group .btn-blue {
  background-color: #2e3192;
  border-color: #252775;
  color: #FFFFFF;
}

.color-fluidity-inverse,
.color-blue-inverse, .btn-fluidity-inverse,
.btn-blue-inverse, .navbar-fluidity .btn-fluidity,
.navbar-fluidity .btn-blue,
.navbar-blue .btn-fluidity,
.navbar-blue .btn-blue, .form-control, .ui-autocomplete {
  background-color: #FFFFFF;
  border-color: #252775;
  color: #2e3192;
}
.color-fluidity-inverse:hover,
.color-blue-inverse:hover, .btn-fluidity-inverse:hover,
.btn-blue-inverse:hover, .navbar-fluidity .btn-fluidity:hover,
.navbar-fluidity .btn-blue:hover,
.navbar-blue .btn-fluidity:hover,
.navbar-blue .btn-blue:hover, .form-control:hover, .ui-autocomplete:hover, .color-fluidity-inverse:focus,
.color-blue-inverse:focus, .btn-fluidity-inverse:focus,
.btn-blue-inverse:focus, .navbar-fluidity .btn-fluidity:focus,
.navbar-fluidity .btn-blue:focus,
.navbar-blue .btn-fluidity:focus,
.navbar-blue .btn-blue:focus, .form-control:focus, .ui-autocomplete:focus {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #252775;
}

.color-fluidity,
.color-blue {
  background-color: #2e3192;
  border-color: #252775;
  color: #FFFFFF;
}

.btn-fluidity,
.btn-blue {
  background-color: #2e3192;
  border-color: #252775;
  color: #FFFFFF;
}

.navbar-fluidity,
.navbar-blue {
  background-color: #2e3192;
  border-color: #252775;
}
.navbar-fluidity .navbar-brand,
.navbar-blue .navbar-brand {
  background-color: #2e3192;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-brand:hover, .navbar-fluidity .navbar-brand:focus,
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #252775;
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-text,
.navbar-blue .navbar-text {
  background-color: #2e3192;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-nav, .navbar-fluidity .dropdown-menu,
.navbar-blue .navbar-nav,
.navbar-blue .dropdown-menu {
  background-color: #2e3192;
  opacity: 1;
}
.navbar-fluidity .navbar-nav > li > a, .navbar-fluidity .dropdown-menu > li > a,
.navbar-blue .navbar-nav > li > a,
.navbar-blue .dropdown-menu > li > a {
  background-color: #2e3192;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-nav > li > a:hover, .navbar-fluidity .navbar-nav > li > a:focus, .navbar-fluidity .dropdown-menu > li > a:hover, .navbar-fluidity .dropdown-menu > li > a:focus,
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus,
.navbar-blue .dropdown-menu > li > a:hover,
.navbar-blue .dropdown-menu > li > a:focus {
  color: #252775;
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-nav > .active > a, .navbar-fluidity .navbar-nav > .active > a:hover, .navbar-fluidity .navbar-nav > .active > a:focus, .navbar-fluidity .dropdown-menu > .active > a, .navbar-fluidity .dropdown-menu > .active > a:hover, .navbar-fluidity .dropdown-menu > .active > a:focus,
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus,
.navbar-blue .dropdown-menu > .active > a,
.navbar-blue .dropdown-menu > .active > a:hover,
.navbar-blue .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #252775;
}
.navbar-fluidity .navbar-nav > .open > a, .navbar-fluidity .navbar-nav > .open > a:hover, .navbar-fluidity .navbar-nav > .open > a:focus, .navbar-fluidity .dropdown-menu > .open > a, .navbar-fluidity .dropdown-menu > .open > a:hover, .navbar-fluidity .dropdown-menu > .open > a:focus,
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus,
.navbar-blue .dropdown-menu > .open > a,
.navbar-blue .dropdown-menu > .open > a:hover,
.navbar-blue .dropdown-menu > .open > a:focus {
  color: #FFFFFF;
  background-color: #252775;
}
.navbar-fluidity .navbar-toggle,
.navbar-blue .navbar-toggle {
  border-color: #252775;
}
.navbar-fluidity .navbar-toggle:hover, .navbar-fluidity .navbar-toggle:focus,
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #252775;
}
.navbar-fluidity .navbar-toggle .icon-bar,
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-collapse,
.navbar-fluidity .navbar-form,
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
  border-color: #FFFFFF;
}
.navbar-fluidity .navbar-link,
.navbar-blue .navbar-link {
  background-color: #2e3192;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-link:hover,
.navbar-blue .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a,
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
    background-color: #2e3192;
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #252775;
  }
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  color: #FFFFFF;
}

.input-group .form-control {
  border-color: #252775;
}

.panel-fluidity,
.panel-blue {
  border-color: #252775;
}
.panel-fluidity > .panel-heading,
.panel-blue > .panel-heading {
  background-color: #2e3192;
  border-color: #252775;
  color: #FFFFFF;
}

.content-fluidity,
.content-blue {
  border-color: #252775;
}

#header-body {
  background-color: #a8aae4;
}

#header-menubar {
  background-color: #2e3192;
}
