/*
 *  css/colors/danger-inverse.css
 *
 *  based on bootstrap danger color scheme
 *
 */
/* functions */
/* mixins */
.btn-fluidity,
.color-fluidity,
li.btn-fluidity > a,
.searchform-input, form input.searchform-input {
  background-color: #f2dede;
  border-color: #f2dede;
  color: #a94442;
}
.btn-fluidity:hover,
.color-fluidity:hover,
li.btn-fluidity > a:hover,
.searchform-input:hover, .btn-fluidity:focus,
.color-fluidity:focus,
li.btn-fluidity > a:focus,
.searchform-input:focus {
  background-color: #a94442;
  border-color: #a94442;
  color: #f2dede;
}

.btn-fluidity-inverse,
.color-fluidity-inverse, .navbar-fluidity .btn-fluidity {
  background-color: #a94442;
  border-color: #a94442;
  color: #f2dede;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .navbar-fluidity .btn-fluidity:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus, .navbar-fluidity .btn-fluidity:focus {
  background-color: #f2dede;
  border-color: #f2dede;
  color: #f2dede;
}

form .form-control {
  background-color: #a94442;
  border-color: #f2dede;
  color: #f2dede;
}
form .form-control:hover, form .form-control:focus {
  background-color: #a94442;
  border-color: #f2dede;
  color: #f2dede;
}

.back-fluidity {
  background-color: #f2dede;
}

.bord-fluidity {
  border-color: #f2dede;
}

.fore-fluidity {
  color: #a94442;
}

form .form-control {
  border: 1px solid #f2dede;
}
form .form-control::-moz-placeholder {
  color: #f2dede;
  opacity: 1;
}
form .form-control:-moz-placeholder {
  color: #f2dede;
}
form .form-control:-ms-input-placeholder {
  color: #f2dede;
}
form .form-control::-webkit-input-placeholder {
  color: #f2dede;
}
form .form-control:hover, form .form-control:focus {
  -webkit-box-shadow: 0 0 4px rgba(242, 222, 222, 0.5);
  box-shadow: 0 0 4px rgba(242, 222, 222, 0.5);
  border: 1px solid #f2dede;
}
form .form-control:hover::-moz-placeholder, form .form-control:focus::-moz-placeholder {
  color: #f2dede;
  opacity: 1;
}
form .form-control:hover:-moz-placeholder, form .form-control:focus:-moz-placeholder {
  color: #f2dede;
}
form .form-control:hover:-ms-input-placeholder, form .form-control:focus:-ms-input-placeholder {
  color: #f2dede;
}
form .form-control:hover::-webkit-input-placeholder, form .form-control:focus::-webkit-input-placeholder {
  color: #f2dede;
}

.ui-autocomplete {
  background-color: #a94442;
  border: 2px solid #f2dede;
  color: #f2dede;
}
.ui-autocomplete li {
  border: 2px solid transparent;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  border: 2px solid #f2dede;
}

form input.searchform-input::-moz-placeholder {
  color: #a94442;
  opacity: 1;
}
form input.searchform-input:-moz-placeholder {
  color: #a94442;
}
form input.searchform-input:-ms-input-placeholder {
  color: #a94442;
}
form input.searchform-input::-webkit-input-placeholder {
  color: #a94442;
}
form input.searchform-input:hover::-moz-placeholder, form input.searchform-input:focus::-moz-placeholder {
  color: #f2dede;
  opacity: 1;
}
form input.searchform-input:hover:-moz-placeholder, form input.searchform-input:focus:-moz-placeholder {
  color: #f2dede;
}
form input.searchform-input:hover:-ms-input-placeholder, form input.searchform-input:focus:-ms-input-placeholder {
  color: #f2dede;
}
form input.searchform-input:hover::-webkit-input-placeholder, form input.searchform-input:focus::-webkit-input-placeholder {
  color: #f2dede;
}

[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.navbar-fluidity {
  background-color: #f2dede;
  color: #a94442;
}
.navbar-fluidity .navbar-brand {
  background-color: #f2dede;
  color: #a94442;
}
.navbar-fluidity .navbar-brand:hover, .navbar-fluidity .navbar-brand:focus {
  background-color: #f2dede;
}
.navbar-fluidity .navbar-text {
  background-color: #f2dede;
  color: #a94442;
}
.navbar-fluidity .navbar-nav, .navbar-fluidity .dropdown-menu {
  background-color: #f2dede;
  opacity: 1.3;
}
.navbar-fluidity .navbar-nav > li > a, .navbar-fluidity .dropdown-menu > li > a {
  background-color: #f2dede;
  color: #a94442;
}
.navbar-fluidity .navbar-nav > li > a:hover, .navbar-fluidity .navbar-nav > li > a:focus, .navbar-fluidity .dropdown-menu > li > a:hover, .navbar-fluidity .dropdown-menu > li > a:focus {
  background-color: #f2dede;
}
.navbar-fluidity .navbar-nav > .active > a, .navbar-fluidity .navbar-nav > .active > a:hover, .navbar-fluidity .navbar-nav > .active > a:focus, .navbar-fluidity .dropdown-menu > .active > a, .navbar-fluidity .dropdown-menu > .active > a:hover, .navbar-fluidity .dropdown-menu > .active > a:focus {
  background-color: #f2dede;
}
.navbar-fluidity .navbar-nav > .open > a, .navbar-fluidity .navbar-nav > .open > a:hover, .navbar-fluidity .navbar-nav > .open > a:focus, .navbar-fluidity .dropdown-menu > .open > a, .navbar-fluidity .dropdown-menu > .open > a:hover, .navbar-fluidity .dropdown-menu > .open > a:focus {
  background-color: #f2dede;
}
.navbar-fluidity .navbar-toggle {
  border-color: #f2dede;
}
.navbar-fluidity .navbar-toggle:hover, .navbar-fluidity .navbar-toggle:focus {
  background-color: #f2dede;
}
.navbar-fluidity .navbar-toggle .icon-bar {
  background-color: #a94442;
}
.navbar-fluidity .navbar-collapse,
.navbar-fluidity .navbar-form {
  border-color: #a94442;
}
.navbar-fluidity .navbar-link {
  background-color: #f2dede;
}

@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a {
    background-color: #f2dede;
    color: #a94442;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a94442;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a94442;
    background-color: #f2dede;
  }
}
/* _s */
ul.sub-menu {
  background-color: white;
}

ul.pagination > li > a {
  color: #a94442;
  background: #f2dede;
  border-color: #f2dede;
}
ul.pagination > li > a:hover, ul.pagination > li > a:focus, ul.pagination > li > span {
  color: #f2dede;
  background: #a94442;
  border-color: #f2dede;
}

.panel-fluidity {
  border-color: #f2dede;
}
.panel-fluidity > .panel-heading {
  background-color: #f2dede;
  border-color: #f2dede;
  color: #a94442;
}

a.tcc-footer-menu-item {
  color: #a94442;
}
a.tcc-footer-menu-item:visited {
  border-bottom: 1px wavy #a94442;
}

a {
  border-bottom: 1px solid #a94442;
  color: #a94442;
}
a:visited {
  border-bottom: 1px wavy #a94442;
  color: #a94442;
}
a:hover, a:focus {
  border-bottom: 2px solid #a94442;
  color: #a94442;
  font-weight: bold;
  text-decoration: none;
}

.navbar a {
  border: none;
}
.navbar a:visited {
  border: none;
}
.navbar a:hover, .navbar a:focus {
  border: none;
  font-weight: normal;
}

blockquote,
.content-fluidity {
  border-color: #f2dede;
}

code {
  background-color: #a94442;
  color: #f2dede;
}

#fluid-footer {
  background-color: #f2dede;
  color: #a94442;
}
#fluid-footer h4 {
  color: #a94442;
}

#header-menubar {
  background-color: #f2dede;
}

hr {
  border-color: #f2dede;
}

.lost-password {
  color: #a94442;
}

.page-title {
  color: #a94442;
  text-shadow: #f2dede 1px 1px 2px;
}

.error404 .page-title {
  color: #a94442;
}

.port-opaque {
  background-color: rgba(242, 222, 222, 0.7) !important;
}

.sticky {
  color: #f2dede;
}

.tml {
  color: #f2dede;
}
.tml input {
  border-color: #f2dede;
}
