/*
Error: Undefined mixin 'box-shadow'.
        on line 52 of scss/colors/_color_template.scss, in `box-shadow'
        from line 52 of scss/colors/_color_template.scss
        from line 14 of scss/colors/danger-inverse.scss

Backtrace:
scss/colors/_color_template.scss:52:in `box-shadow'
scss/colors/_color_template.scss:52
scss/colors/danger-inverse.scss:14
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:348:in `visit_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:98:in `with_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:98:in `with_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:430:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:430:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:430:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:430:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:430:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:430:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/engine.rb:268:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/sass_scss.rb:415:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/base.rb:19:in `parse!'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/sass:13
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'box-shadow'.\A         on line 52 of scss/colors/_color_template.scss, in `box-shadow'\A         from line 52 of scss/colors/_color_template.scss\A         from line 14 of scss/colors/danger-inverse.scss"; }
