/*
 *  css/colors/green.css
 *
 */
.btn-green-inverse, .navbar-green .btn-green {
  background-color: #FFFFFF;
  border-color: #2e913b;
  color: #39b54a;
}
.btn-green-inverse:hover, .navbar-green .btn-green:hover, .btn-green-inverse:focus, .navbar-green .btn-green:focus {
  background-color: #FFFFFF;
  color: #2e913b;
}

.navbar-green {
  background-color: #39b54a;
  border-color: #2e913b;
}
.navbar-green .navbar-brand {
  background-color: #39b54a;
  color: #FFFFFF;
}
.navbar-green .navbar-brand:hover, .navbar-green .navbar-brand:focus {
  color: #2e913b;
  background-color: #FFFFFF;
}
.navbar-green .navbar-text {
  background-color: #39b54a;
  color: #FFFFFF;
}
.navbar-green .navbar-nav, .navbar-green .dropdown-menu {
  background-color: #39b54a;
  opacity: 1;
}
.navbar-green .navbar-nav > li > a, .navbar-green .dropdown-menu > li > a {
  background-color: #39b54a;
  color: #FFFFFF;
}
.navbar-green .navbar-nav > li > a:hover, .navbar-green .navbar-nav > li > a:focus, .navbar-green .dropdown-menu > li > a:hover, .navbar-green .dropdown-menu > li > a:focus {
  color: #2e913b;
  background-color: #FFFFFF;
}
.navbar-green .navbar-nav > .active > a, .navbar-green .navbar-nav > .active > a:hover, .navbar-green .navbar-nav > .active > a:focus, .navbar-green .dropdown-menu > .active > a, .navbar-green .dropdown-menu > .active > a:hover, .navbar-green .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #2e913b;
}
.navbar-green .navbar-nav > .open > a, .navbar-green .navbar-nav > .open > a:hover, .navbar-green .navbar-nav > .open > a:focus, .navbar-green .dropdown-menu > .open > a, .navbar-green .dropdown-menu > .open > a:hover, .navbar-green .dropdown-menu > .open > a:focus {
  color: #FFFFFF;
  background-color: #2e913b;
}
.navbar-green .navbar-toggle {
  border-color: #2e913b;
}
.navbar-green .navbar-toggle:hover, .navbar-green .navbar-toggle:focus {
  background-color: #2e913b;
}
.navbar-green .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-green .navbar-collapse,
.navbar-green .navbar-form {
  border-color: #FFFFFF;
}
.navbar-green .navbar-link {
  background-color: #39b54a;
  color: #FFFFFF;
}
.navbar-green .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-green .navbar-nav .open .dropdown-menu > li > a {
    background-color: #39b54a;
    color: #FFFFFF;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > .active > a, .navbar-green .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-green .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #2e913b;
  }
}
.input-group .btn-green {
  background-color: #39b54a;
  border-color: #2e913b;
  color: #FFFFFF;
}
.input-group .form-control {
  border-color: #2e913b;
}

.panel-green {
  border-color: #2e913b;
}
.panel-green > .panel-heading {
  background-color: #39b54a;
  border-color: #2e913b;
  color: #FFFFFF;
}

.content-green {
  border-color: #2e913b;
}

#header-body {
  background-color: #cbefd0;
}

#header-menubar {
  background-color: #39b54a;
}
