/*
 *  css/colors/info-inverse.css
 *
 *  based on bootstrap info color scheme
 *
 */
.btn-fluidity,
.color-fluidity,
.form-control, .ui-autocomplete {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #31708F;
}
.btn-fluidity:hover,
.color-fluidity:hover,
.form-control:hover, .ui-autocomplete:hover, .btn-fluidity:focus,
.color-fluidity:focus,
.form-control:focus, .ui-autocomplete:focus {
  background-color: #31708F;
  border-color: #31708F;
  color: #D9EDF7;
}

.btn-fluidity-inverse,
.color-fluidity-inverse, .navbar-fluidity .btn-fluidity {
  background-color: #31708F;
  border-color: #31708F;
  color: #D9EDF7;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .navbar-fluidity .btn-fluidity:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus, .navbar-fluidity .btn-fluidity:focus {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #BCE8F1;
}

.navbar-fluidity {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}
.navbar-fluidity .navbar-brand {
  background-color: #D9EDF7;
  color: #31708F;
}
.navbar-fluidity .navbar-brand:hover, .navbar-fluidity .navbar-brand:focus {
  color: #BCE8F1;
  background-color: #31708F;
}
.navbar-fluidity .navbar-text {
  background-color: #D9EDF7;
  color: #31708F;
}
.navbar-fluidity .navbar-nav, .navbar-fluidity .dropdown-menu {
  background-color: #D9EDF7;
  opacity: 1;
}
.navbar-fluidity .navbar-nav > li > a, .navbar-fluidity .dropdown-menu > li > a {
  background-color: #D9EDF7;
  color: #31708F;
}
.navbar-fluidity .navbar-nav > li > a:hover, .navbar-fluidity .navbar-nav > li > a:focus, .navbar-fluidity .dropdown-menu > li > a:hover, .navbar-fluidity .dropdown-menu > li > a:focus {
  color: #BCE8F1;
  background-color: #31708F;
}
.navbar-fluidity .navbar-nav > .active > a, .navbar-fluidity .navbar-nav > .active > a:hover, .navbar-fluidity .navbar-nav > .active > a:focus, .navbar-fluidity .dropdown-menu > .active > a, .navbar-fluidity .dropdown-menu > .active > a:hover, .navbar-fluidity .dropdown-menu > .active > a:focus {
  color: #31708F;
  background-color: #BCE8F1;
}
.navbar-fluidity .navbar-nav > .open > a, .navbar-fluidity .navbar-nav > .open > a:hover, .navbar-fluidity .navbar-nav > .open > a:focus, .navbar-fluidity .dropdown-menu > .open > a, .navbar-fluidity .dropdown-menu > .open > a:hover, .navbar-fluidity .dropdown-menu > .open > a:focus {
  color: #31708F;
  background-color: #BCE8F1;
}
.navbar-fluidity .navbar-toggle {
  border-color: #BCE8F1;
}
.navbar-fluidity .navbar-toggle:hover, .navbar-fluidity .navbar-toggle:focus {
  background-color: #BCE8F1;
}
.navbar-fluidity .navbar-toggle .icon-bar {
  background-color: #31708F;
}
.navbar-fluidity .navbar-collapse,
.navbar-fluidity .navbar-form {
  border-color: #31708F;
}
.navbar-fluidity .navbar-link {
  background-color: #D9EDF7;
  color: #31708F;
}
.navbar-fluidity .navbar-link:hover {
  color: #31708F;
}

@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a {
    background-color: #D9EDF7;
    color: #31708F;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #31708F;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #31708F;
    background-color: #BCE8F1;
  }
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  color: #31708F;
}

.panel-fluidity {
  border-color: #BCE8F1;
}
.panel-fluidity > .panel-heading {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #31708F;
}

.content-fluidity {
  border-color: #BCE8F1;
}

#header-body {
  background-color: white;
}

#header-menubar {
  background-color: #D9EDF7;
}
