/*
 *  css/colors/info.css
 *
 *  bootstrap info color scheme
 *
 */
.btn-info-inverse, .navbar-info .btn-info {
  background-color: #FFFFFF;
  border-color: #46B8DA;
  color: #5BC0DE;
}
.btn-info-inverse:hover, .navbar-info .btn-info:hover, .btn-info-inverse:focus, .navbar-info .btn-info:focus {
  background-color: #FFFFFF;
  color: #46B8DA;
}

.navbar-info {
  background-color: #5BC0DE;
  border-color: #46B8DA;
}
.navbar-info .navbar-brand {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-info .navbar-brand:hover, .navbar-info .navbar-brand:focus {
  color: #46B8DA;
  background-color: #FFFFFF;
}
.navbar-info .navbar-text {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-info .navbar-nav > li, .navbar-info .dropdown-menu > li {
  background-color: #5BC0DE;
}
.navbar-info .navbar-nav > li > a, .navbar-info .dropdown-menu > li > a {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-info .navbar-nav > li > a:hover, .navbar-info .navbar-nav > li > a:focus, .navbar-info .dropdown-menu > li > a:hover, .navbar-info .dropdown-menu > li > a:focus {
  color: #46B8DA;
  background-color: #FFFFFF;
}
.navbar-info .navbar-nav > .active > a, .navbar-info .navbar-nav > .active > a:hover, .navbar-info .navbar-nav > .active > a:focus, .navbar-info .dropdown-menu > .active > a, .navbar-info .dropdown-menu > .active > a:hover, .navbar-info .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #46B8DA;
}
.navbar-info .navbar-nav > .open > a, .navbar-info .navbar-nav > .open > a:hover, .navbar-info .navbar-nav > .open > a:focus, .navbar-info .dropdown-menu > .open > a, .navbar-info .dropdown-menu > .open > a:hover, .navbar-info .dropdown-menu > .open > a:focus {
  color: #FFFFFF;
  background-color: #46B8DA;
}
.navbar-info .navbar-toggle {
  border-color: #46B8DA;
}
.navbar-info .navbar-toggle:hover, .navbar-info .navbar-toggle:focus {
  background-color: #46B8DA;
}
.navbar-info .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-info .navbar-collapse,
.navbar-info .navbar-form {
  border-color: #FFFFFF;
}
.navbar-info .navbar-link {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-info .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-info .navbar-nav .open .dropdown-menu > li > a {
    background-color: #5BC0DE;
    color: #FFFFFF;
  }
  .navbar-info .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-info .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-info .navbar-nav .open .dropdown-menu > .active > a, .navbar-info .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-info .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #46B8DA;
  }
}
.input-group .btn-info {
  background-color: #5BC0DE;
  border-color: #46B8DA;
  color: #FFFFFF;
}
.input-group .form-control {
  border-color: #46B8DA;
}

.panel-info {
  border-color: #46B8DA;
}
.panel-info > .panel-heading {
  background-color: #5BC0DE;
  border-color: #46B8DA;
  color: #FFFFFF;
}

.content-info {
  border-color: #46B8DA;
}

#header-body {
  background-color: white;
}

#header-menubar {
  background-color: #5BC0DE;
}
