/*
 *  css/colors/info.css
 *
 *  bootstrap info color scheme
 *
 * Name: Powder Blue
 */
.btn-fluidity,
.color-fluidity,
li.btn-fluidity > a,
.searchform-input, form input.searchform-input, .forum div.bbp-template-notice, .forum div.bbp-template-notice.info, .forum legend, .wpfep-wrapper .wpfep-save input[type="submit"] {
  background-color: #5BC0DE;
  border-color: #46B8DA;
  color: #FFFFFF;
}
.btn-fluidity:hover,
.color-fluidity:hover,
li.btn-fluidity > a:hover,
.searchform-input:hover, .forum div.bbp-template-notice:hover, .forum legend:hover, .wpfep-wrapper .wpfep-save input[type="submit"]:hover, .btn-fluidity:focus,
.color-fluidity:focus,
li.btn-fluidity > a:focus,
.searchform-input:focus, .forum div.bbp-template-notice:focus, .forum legend:focus, .wpfep-wrapper .wpfep-save input[type="submit"]:focus {
  background-color: #FFFFFF;
  border-color: #5BC0DE;
  color: #5BC0DE;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

.btn-fluidity-inverse,
.color-fluidity-inverse, .navbar-fluidity .btn-fluidity {
  background-color: #FFFFFF;
  border-color: #5BC0DE;
  color: #5BC0DE;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .navbar-fluidity .btn-fluidity:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus, .navbar-fluidity .btn-fluidity:focus {
  background-color: #5BC0DE;
  border-color: #46B8DA;
  color: #46B8DA;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

input,
form .form-control, .wpfep-wrapper .wpfep-field input {
  background-color: #FFFFFF;
  border-color: #46B8DA;
  color: #5BC0DE;
}
input:hover,
form .form-control:hover, .wpfep-wrapper .wpfep-field input:hover, input:focus,
form .form-control:focus, .wpfep-wrapper .wpfep-field input:focus {
  background-color: #FFFFFF;
  border-color: #46B8DA;
  color: #5BC0DE;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

body {
  color: #5BC0DE;
}
body.archive.author article {
  border: 1px solid #5BC0DE;
}
body .skip-link:focus {
  background-color: #FFFFFF;
}

.btn-fluidity,
.color-fluidity,
.searchform-input {
  border-style: solid;
  border-width: 1px;
}

li.btn-fluidity {
  border: none;
}

.btn-fluidity-inverse,
.color-fluidity-inverse {
  border-width: 1px;
  border-style: solid;
}

.back-fluidity {
  background-color: #5BC0DE;
}

.bord-fluidity {
  border-color: #46B8DA;
}

.fore-fluidity {
  color: #FFFFFF;
}

input,
form .form-control {
  border: 1px solid #5bc0de;
}
input::-moz-placeholder,
form .form-control::-moz-placeholder {
  color: #5BC0DE;
  opacity: 1;
}
input:-moz-placeholder,
form .form-control:-moz-placeholder {
  color: #5BC0DE;
}
input:-ms-input-placeholder,
form .form-control:-ms-input-placeholder {
  color: #5BC0DE;
}
input::-webkit-input-placeholder,
form .form-control::-webkit-input-placeholder {
  color: #5BC0DE;
}
input:hover, input:focus,
form .form-control:hover,
form .form-control:focus {
  border: 1px solid #46b8da;
}
input:hover::-moz-placeholder, input:focus::-moz-placeholder,
form .form-control:hover::-moz-placeholder,
form .form-control:focus::-moz-placeholder {
  color: #46B8DA;
  opacity: 1;
}
input:hover:-moz-placeholder, input:focus:-moz-placeholder,
form .form-control:hover:-moz-placeholder,
form .form-control:focus:-moz-placeholder {
  color: #46B8DA;
}
input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder,
form .form-control:hover:-ms-input-placeholder,
form .form-control:focus:-ms-input-placeholder {
  color: #46B8DA;
}
input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder,
form .form-control:hover::-webkit-input-placeholder,
form .form-control:focus::-webkit-input-placeholder {
  color: #46B8DA;
}

.ui-autocomplete {
  background-color: #FFFFFF;
  border: 2px solid #46B8DA;
  color: #5BC0DE;
}
.ui-autocomplete li {
  border: 2px solid transparent;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  border: 2px solid #46B8DA;
}

form input.searchform-input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input.searchform-input:-moz-placeholder {
  color: #FFFFFF;
}
form input.searchform-input:-ms-input-placeholder {
  color: #FFFFFF;
}
form input.searchform-input::-webkit-input-placeholder {
  color: #FFFFFF;
}
form input.searchform-input:hover::-moz-placeholder, form input.searchform-input:focus::-moz-placeholder {
  color: #5BC0DE;
  opacity: 1;
}
form input.searchform-input:hover:-moz-placeholder, form input.searchform-input:focus:-moz-placeholder {
  color: #5BC0DE;
}
form input.searchform-input:hover:-ms-input-placeholder, form input.searchform-input:focus:-ms-input-placeholder {
  color: #5BC0DE;
}
form input.searchform-input:hover::-webkit-input-placeholder, form input.searchform-input:focus::-webkit-input-placeholder {
  color: #5BC0DE;
}

[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.navbar-fluidity {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-brand {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-brand:hover, .navbar-fluidity .navbar-brand:focus {
  background-color: #46B8DA;
}
.navbar-fluidity .navbar-text {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-fluidity .nav-menu, .navbar-fluidity .navbar-nav, .navbar-fluidity .dropdown-menu {
  background-color: #5BC0DE;
  opacity: 1.3;
}
.navbar-fluidity .nav-menu > li > a, .navbar-fluidity .navbar-nav > li > a, .navbar-fluidity .dropdown-menu > li > a {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.navbar-fluidity .nav-menu > li > a:hover, .navbar-fluidity .nav-menu > li > a:focus, .navbar-fluidity .navbar-nav > li > a:hover, .navbar-fluidity .navbar-nav > li > a:focus, .navbar-fluidity .dropdown-menu > li > a:hover, .navbar-fluidity .dropdown-menu > li > a:focus {
  background-color: #46B8DA;
}
.navbar-fluidity .nav-menu .current-menu-item > a, .navbar-fluidity .nav-menu .current-menu-item > a:hover, .navbar-fluidity .nav-menu .current-menu-item > a:focus, .navbar-fluidity .nav-menu > .active > a, .navbar-fluidity .nav-menu > .active > a:hover, .navbar-fluidity .nav-menu > .active > a:focus, .navbar-fluidity .nav-menu > .open > a, .navbar-fluidity .nav-menu > .open > a:hover, .navbar-fluidity .nav-menu > .open > a:focus, .navbar-fluidity .navbar-nav .current-menu-item > a, .navbar-fluidity .navbar-nav .current-menu-item > a:hover, .navbar-fluidity .navbar-nav .current-menu-item > a:focus, .navbar-fluidity .navbar-nav > .active > a, .navbar-fluidity .navbar-nav > .active > a:hover, .navbar-fluidity .navbar-nav > .active > a:focus, .navbar-fluidity .navbar-nav > .open > a, .navbar-fluidity .navbar-nav > .open > a:hover, .navbar-fluidity .navbar-nav > .open > a:focus, .navbar-fluidity .dropdown-menu .current-menu-item > a, .navbar-fluidity .dropdown-menu .current-menu-item > a:hover, .navbar-fluidity .dropdown-menu .current-menu-item > a:focus, .navbar-fluidity .dropdown-menu > .active > a, .navbar-fluidity .dropdown-menu > .active > a:hover, .navbar-fluidity .dropdown-menu > .active > a:focus, .navbar-fluidity .dropdown-menu > .open > a, .navbar-fluidity .dropdown-menu > .open > a:hover, .navbar-fluidity .dropdown-menu > .open > a:focus {
  background-color: #46B8DA;
}
.navbar-fluidity .navbar-toggle {
  border-color: #46B8DA;
}
.navbar-fluidity .navbar-toggle:hover, .navbar-fluidity .navbar-toggle:focus {
  background-color: #46B8DA;
}
.navbar-fluidity .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-collapse, .navbar-fluidity .navbar-form {
  border-color: #FFFFFF;
}
.navbar-fluidity .navbar-link {
  background-color: #5BC0DE;
}

@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a {
    background-color: #5BC0DE;
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #46B8DA;
  }
}
/* _s */
.main-navigation {
  background-color: #5BC0DE;
}
.main-navigation a {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
.main-navigation a:hover, .main-navigation a:focus {
  background-color: #46B8DA;
  color: #FFFFFF;
  font-weight: normal;
}

ul.sub-menu {
  background-color: white;
}

ul.pagination > li > a {
  color: #FFFFFF;
  background: #5BC0DE;
  border-color: #46B8DA;
}
ul.pagination > li > a:hover, ul.pagination > li > a:focus, ul.pagination > li > span {
  color: #5BC0DE;
  background: #FFFFFF;
  border-color: #46B8DA;
  font-weight: normal;
}

.panel-fluidity {
  border-color: #46B8DA;
}
.panel-fluidity > .panel-heading {
  background-color: #5BC0DE;
  border-color: #46B8DA;
  color: #FFFFFF;
}

a.tcc-footer-menu-item {
  color: #FFFFFF;
}
a.tcc-footer-menu-item:visited {
  border-bottom: 1px solid #FFFFFF;
}

a {
  border-bottom: 1px solid #5BC0DE;
  color: #5BC0DE;
}
a:visited {
  border-bottom: 1px solid #5BC0DE;
  color: #46B8DA;
}
a:hover, a:focus {
  border-bottom: 2px solid #46B8DA;
  color: #46B8DA;
  font-weight: bold;
  text-decoration: none;
}

.navbar a {
  border: none;
}
.navbar a:visited {
  border: none;
}
.navbar a:hover, .navbar a:focus {
  border: none;
  font-weight: normal;
}

blockquote,
.content-fluidity {
  border-color: #46B8DA;
}

code,
pre code,
pre {
  color: #5BC0DE;
}

#fluid-footer {
  background-color: #5BC0DE;
  color: #FFFFFF;
}
#fluid-footer h4 {
  color: #FFFFFF;
}

#header-menubar {
  background-color: #5BC0DE;
}

hr {
  border-color: #46B8DA;
}

.page-title {
  color: #5BC0DE;
  text-shadow: #46B8DA 1px 1px 2px;
}

.error404 .page-title {
  color: #FFFFFF;
}

.port-opaque {
  background-color: rgba(91, 192, 222, 0.7) !important;
}

.sticky {
  color: #5BC0DE;
}

.tml {
  color: #5BC0DE;
}
.tml input {
  border-color: #46B8DA;
}
.tml p.message {
  background-color: #FFFFFF;
  border: 1px solid #46B8DA;
  color: #5BC0DE;
}

.wp-editor-container {
  border: 1px solid #46B8DA;
}
.wp-editor-container .quicktags-toolbar {
  background: #5BC0DE;
}
.wp-editor-container .quicktags-toolbar .button {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wp-editor-container .quicktags-toolbar, .wp-editor-container textarea.wp-editor-area {
  border-color: #46B8DA;
}

.wpfep-wrapper ul.wpfep-tabs {
  border-bottom-color: #46B8DA;
}
.wpfep-wrapper ul.wpfep-tabs li a {
  background-color: #5BC0DE;
  border-color: #46B8DA;
  color: #FFFFFF;
}
.wpfep-wrapper ul.wpfep-tabs li a.active {
  background-color: #46B8DA;
  border-bottom-color: #46B8DA;
}
.wpfep-wrapper ul.wpfep-tabs li a:hover, .wpfep-wrapper ul.wpfep-tabs li a:focus {
  background-color: #46B8DA;
  font-weight: normal;
}
.wpfep-wrapper .wpfep-field input {
  border: 1px solid #5bc0de;
}
.wpfep-wrapper .wpfep-field input::-moz-placeholder {
  color: #5BC0DE;
  opacity: 1;
}
.wpfep-wrapper .wpfep-field input:-moz-placeholder {
  color: #5BC0DE;
}
.wpfep-wrapper .wpfep-field input:-ms-input-placeholder {
  color: #5BC0DE;
}
.wpfep-wrapper .wpfep-field input::-webkit-input-placeholder {
  color: #5BC0DE;
}
.wpfep-wrapper .wpfep-field input:hover, .wpfep-wrapper .wpfep-field input:focus {
  border: 1px solid #46b8da;
}
.wpfep-wrapper .wpfep-field input:hover::-moz-placeholder, .wpfep-wrapper .wpfep-field input:focus::-moz-placeholder {
  color: #46B8DA;
  opacity: 1;
}
.wpfep-wrapper .wpfep-field input:hover:-moz-placeholder, .wpfep-wrapper .wpfep-field input:focus:-moz-placeholder {
  color: #46B8DA;
}
.wpfep-wrapper .wpfep-field input:hover:-ms-input-placeholder, .wpfep-wrapper .wpfep-field input:focus:-ms-input-placeholder {
  color: #46B8DA;
}
.wpfep-wrapper .wpfep-field input:hover::-webkit-input-placeholder, .wpfep-wrapper .wpfep-field input:focus::-webkit-input-placeholder {
  color: #46B8DA;
}
.wpfep-wrapper .wpfep-field p.description {
  color: rgba(91, 192, 222, 0.8);
}
.wpfep-wrapper .wpfep-save input[type="submit"] {
  -webkit-box-shadow: none;
  box-shadow: none;
}
