/*
 *  css/colors/info-inverse.css
 *
 *  based on bootstrap info color scheme
 *
 */
.btn-info-inverse-inverse, .navbar-info-inverse .btn-info-inverse {
  background-color: #31708F;
  border-color: #BCE8F1;
  color: #D9EDF7;
}
.btn-info-inverse-inverse:hover, .navbar-info-inverse .btn-info-inverse:hover, .btn-info-inverse-inverse:focus, .navbar-info-inverse .btn-info-inverse:focus {
  background-color: #31708F;
  color: #BCE8F1;
}

.navbar-info-inverse {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}
.navbar-info-inverse .navbar-brand {
  color: #31708F;
}
.navbar-info-inverse .navbar-brand:hover, .navbar-info-inverse .navbar-brand:focus {
  color: #BCE8F1;
  background-color: #31708F;
}
.navbar-info-inverse .navbar-text {
  color: #31708F;
}
.navbar-info-inverse .navbar-nav > li > a, .navbar-info-inverse .dropdown-menu > li > a {
  color: #31708F;
}
.navbar-info-inverse .navbar-nav > li > a:hover, .navbar-info-inverse .navbar-nav > li > a:focus, .navbar-info-inverse .dropdown-menu > li > a:hover, .navbar-info-inverse .dropdown-menu > li > a:focus {
  color: #BCE8F1;
  background-color: #31708F;
}
.navbar-info-inverse .navbar-nav > .active > a, .navbar-info-inverse .navbar-nav > .active > a:hover, .navbar-info-inverse .navbar-nav > .active > a:focus, .navbar-info-inverse .dropdown-menu > .active > a, .navbar-info-inverse .dropdown-menu > .active > a:hover, .navbar-info-inverse .dropdown-menu > .active > a:focus {
  color: #31708F;
  background-color: #BCE8F1;
}
.navbar-info-inverse .navbar-nav > .open > a, .navbar-info-inverse .navbar-nav > .open > a:hover, .navbar-info-inverse .navbar-nav > .open > a:focus, .navbar-info-inverse .dropdown-menu > .open > a, .navbar-info-inverse .dropdown-menu > .open > a:hover, .navbar-info-inverse .dropdown-menu > .open > a:focus {
  color: #31708F;
  background-color: #BCE8F1;
}
.navbar-info-inverse .navbar-toggle {
  border-color: #BCE8F1;
}
.navbar-info-inverse .navbar-toggle:hover, .navbar-info-inverse .navbar-toggle:focus {
  background-color: #BCE8F1;
}
.navbar-info-inverse .navbar-toggle .icon-bar {
  background-color: #31708F;
}
.navbar-info-inverse .navbar-collapse,
.navbar-info-inverse .navbar-form {
  border-color: #31708F;
}
.navbar-info-inverse .navbar-link {
  color: #31708F;
}
.navbar-info-inverse .navbar-link:hover {
  color: #31708F;
}

@media (max-width: 767px) {
  .navbar-info-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #31708F;
  }
  .navbar-info-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-info-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #31708F;
  }
  .navbar-info-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-info-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-info-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #31708F;
    background-color: #BCE8F1;
  }
}
.input-group .btn-info-inverse {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #31708F;
}
.input-group .form-control {
  border-color: #BCE8F1;
}

.panel-info-inverse {
  border-color: #BCE8F1;
}
.panel-info-inverse > .panel-heading {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #31708F;
}

.content-info-inverse {
  border-color: #BCE8F1;
}

#header-body {
  background-color: white;
}

#header-menubar {
  background-color: #D9EDF7;
}
