/*
 *  css/colors/orange.css
 *
 */
.btn-fluidity,
.color-fluidity,
.form-control,
li.btn-fluidity > a {
  background-color: #f7941d;
  border-color: #d57808;
  color: #FFFFFF;
}
.btn-fluidity:hover,
.color-fluidity:hover,
.form-control:hover,
li.btn-fluidity > a:hover, .btn-fluidity:focus,
.color-fluidity:focus,
.form-control:focus,
li.btn-fluidity > a:focus {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #f7941d;
}

.btn-fluidity-inverse,
.color-fluidity-inverse, .navbar-fluidity .btn-fluidity {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #f7941d;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .navbar-fluidity .btn-fluidity:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus, .navbar-fluidity .btn-fluidity:focus {
  background-color: #f7941d;
  border-color: #d57808;
  color: #d57808;
}

.back-fluidity {
  background-color: #f7941d;
}

.bord-fluidity {
  border-color: #d57808;
}

.fore-fluidity {
  color: #FFFFFF;
}

.ui-autocomplete {
  background-color: #FFFFFF;
  border: 1px solid #d57808;
  color: #f7941d;
}
.ui-autocomplete li {
  border: 1px solid transparent;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  border: 1px solid #d57808;
}

.searchform-input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.searchform-input:-ms-input-placeholder {
  color: #FFFFFF;
}
.searchform-input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.searchform-input::hover::-moz-placeholder, .searchform-input::focus::-moz-placeholder {
  color: #f7941d;
  opacity: 1;
}
.searchform-input::hover:-ms-input-placeholder, .searchform-input::focus:-ms-input-placeholder {
  color: #f7941d;
}
.searchform-input::hover::-webkit-input-placeholder, .searchform-input::focus::-webkit-input-placeholder {
  color: #f7941d;
}

.navbar-fluidity {
  background-color: #f7941d;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-brand {
  background-color: #f7941d;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-brand:hover, .navbar-fluidity .navbar-brand:focus {
  background-color: #d57808;
}
.navbar-fluidity .navbar-text {
  background-color: #f7941d;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-nav, .navbar-fluidity .dropdown-menu {
  background-color: #f7941d;
  opacity: 1.3;
}
.navbar-fluidity .navbar-nav > li > a, .navbar-fluidity .dropdown-menu > li > a {
  background-color: #f7941d;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-nav > li > a:hover, .navbar-fluidity .navbar-nav > li > a:focus, .navbar-fluidity .dropdown-menu > li > a:hover, .navbar-fluidity .dropdown-menu > li > a:focus {
  background-color: #d57808;
}
.navbar-fluidity .navbar-nav > .active > a, .navbar-fluidity .navbar-nav > .active > a:hover, .navbar-fluidity .navbar-nav > .active > a:focus, .navbar-fluidity .dropdown-menu > .active > a, .navbar-fluidity .dropdown-menu > .active > a:hover, .navbar-fluidity .dropdown-menu > .active > a:focus {
  background-color: #d57808;
}
.navbar-fluidity .navbar-nav > .open > a, .navbar-fluidity .navbar-nav > .open > a:hover, .navbar-fluidity .navbar-nav > .open > a:focus, .navbar-fluidity .dropdown-menu > .open > a, .navbar-fluidity .dropdown-menu > .open > a:hover, .navbar-fluidity .dropdown-menu > .open > a:focus {
  background-color: #d57808;
}
.navbar-fluidity .navbar-toggle {
  border-color: #d57808;
}
.navbar-fluidity .navbar-toggle:hover, .navbar-fluidity .navbar-toggle:focus {
  background-color: #d57808;
}
.navbar-fluidity .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-collapse,
.navbar-fluidity .navbar-form {
  border-color: #FFFFFF;
}
.navbar-fluidity .navbar-link {
  background-color: #f7941d;
}

@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a {
    background-color: #f7941d;
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #d57808;
  }
}
/* _s */
ul.sub-menu {
  background-color: #fef1e2;
}

.panel-fluidity {
  border-color: #d57808;
}
.panel-fluidity > .panel-heading {
  background-color: #f7941d;
  border-color: #d57808;
  color: #FFFFFF;
}

blockquote,
.content-fluidity {
  border-color: #d57808;
}

#fluid-footer {
  background-color: #f7941d;
  color: #FFFFFF;
}
#fluid-footer h4 {
  color: #FFFFFF;
}

#header-menubar {
  background-color: #f7941d;
}

hr {
  border-color: #d57808;
}

.page-title {
  color: #FFFFFF;
  text-shadow: #d57808 1px 1px 2px;
}

.port-opaque {
  background-color: rgba(247, 148, 29, 0.7) !important;
}
