/*
 *  fluidity/css/success.css
 *
 *  bootstrap success color scheme
 *
 */
.btn-primary-inverse, .navbar-primary .btn-primary {
  background-color: #ffffff;
  border-color: #2E6DA4;
  color: #337AB7; }
.btn-primary-inverse:hover, .navbar-primary .btn-primary:hover, .btn-primary-inverse:focus, .navbar-primary .btn-primary:focus {
  background-color: #ffffff;
  color: #2E6DA4; }

.navbar-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
.navbar-primary .navbar-brand {
  color: #ffffff; }
.navbar-primary .navbar-brand:hover, .navbar-primary .navbar-brand:focus {
  color: #ffffff; }
.navbar-primary .navbar-text {
  color: #ffffff; }
.navbar-primary .navbar-nav > li > a {
  color: #ffffff; }
.navbar-primary .navbar-nav > li > a:hover, .navbar-primary .navbar-nav > li > a:focus {
  color: #ffffff; }
.navbar-primary .navbar-nav > .active > a, .navbar-primary .navbar-nav > .active > a:hover, .navbar-primary .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2E6DA4; }
.navbar-primary .navbar-nav > .open > a, .navbar-primary .navbar-nav > .open > a:hover, .navbar-primary .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2E6DA4; }
.navbar-primary .navbar-toggle {
  border-color: #2E6DA4; }
.navbar-primary .navbar-toggle:hover, .navbar-primary .navbar-toggle:focus {
  background-color: #2E6DA4; }
.navbar-primary .navbar-toggle .icon-bar {
  background-color: #ffffff; }
.navbar-primary .navbar-collapse, .navbar-primary .navbar-form {
  border-color: #ffffff; }
.navbar-primary .navbar-link {
  color: #ffffff; }
.navbar-primary .navbar-link:hover {
  color: #ffffff; }

@media (max-width: 767px) {
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-primary .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff; }
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a, .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2E6DA4; } }
.panel-primary {
  border-color: #2E6DA4; }
.panel-primary > .panel-heading {
  background-color: #337AB7;
  border-color: #2E6DA4;
  color: #ffffff; }

.content-primary {
  border-color: #2E6DA4; }
