/*
 *  css/colors/red.css
 *
 */
.btn-red-inverse, .navbar-red .btn-red {
  background-color: #FFFFFF;
  border-color: #cc0000;
  color: #ff0000;
}
.btn-red-inverse:hover, .navbar-red .btn-red:hover, .btn-red-inverse:focus, .navbar-red .btn-red:focus {
  background-color: #FFFFFF;
  color: #cc0000;
}

.navbar-red {
  background-color: #ff0000;
  border-color: #cc0000;
}
.navbar-red .navbar-brand {
  background-color: #ff0000;
  color: #FFFFFF;
}
.navbar-red .navbar-brand:hover, .navbar-red .navbar-brand:focus {
  color: #cc0000;
  background-color: #FFFFFF;
}
.navbar-red .navbar-text {
  background-color: #ff0000;
  color: #FFFFFF;
}
.navbar-red .navbar-nav, .navbar-red .dropdown-menu {
  background-color: #ff0000;
  opacity: 1;
}
.navbar-red .navbar-nav > li > a, .navbar-red .dropdown-menu > li > a {
  background-color: #ff0000;
  color: #FFFFFF;
}
.navbar-red .navbar-nav > li > a:hover, .navbar-red .navbar-nav > li > a:focus, .navbar-red .dropdown-menu > li > a:hover, .navbar-red .dropdown-menu > li > a:focus {
  color: #cc0000;
  background-color: #FFFFFF;
}
.navbar-red .navbar-nav > .active > a, .navbar-red .navbar-nav > .active > a:hover, .navbar-red .navbar-nav > .active > a:focus, .navbar-red .dropdown-menu > .active > a, .navbar-red .dropdown-menu > .active > a:hover, .navbar-red .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #cc0000;
}
.navbar-red .navbar-nav > .open > a, .navbar-red .navbar-nav > .open > a:hover, .navbar-red .navbar-nav > .open > a:focus, .navbar-red .dropdown-menu > .open > a, .navbar-red .dropdown-menu > .open > a:hover, .navbar-red .dropdown-menu > .open > a:focus {
  color: #FFFFFF;
  background-color: #cc0000;
}
.navbar-red .navbar-toggle {
  border-color: #cc0000;
}
.navbar-red .navbar-toggle:hover, .navbar-red .navbar-toggle:focus {
  background-color: #cc0000;
}
.navbar-red .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-red .navbar-collapse,
.navbar-red .navbar-form {
  border-color: #FFFFFF;
}
.navbar-red .navbar-link {
  background-color: #ff0000;
  color: #FFFFFF;
}
.navbar-red .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-red .navbar-nav .open .dropdown-menu > li > a {
    background-color: #ff0000;
    color: #FFFFFF;
  }
  .navbar-red .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-red .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-red .navbar-nav .open .dropdown-menu > .active > a, .navbar-red .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-red .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #cc0000;
  }
}
.input-group .btn-red {
  background-color: #ff0000;
  border-color: #cc0000;
  color: #FFFFFF;
}
.input-group .form-control {
  border-color: #cc0000;
}

.panel-red {
  border-color: #cc0000;
}
.panel-red > .panel-heading {
  background-color: #ff0000;
  border-color: #cc0000;
  color: #FFFFFF;
}

.content-red {
  border-color: #cc0000;
}

#header-body {
  background-color: #ffcccc;
}

#header-menubar {
  background-color: #ff0000;
}
