/*
Error: $color: "inverse(#ff0000)" is not a color for `lightness'
        on line 15 of scss/colors/_functions.scss
        from line 13 of scss/colors/red.scss

10:                "textcolor"     : #FFFFFF,
11:                "textHighlight" : inverse($primary));
12: 
13: @import "color_template";

Backtrace:
scss/colors/_functions.scss:15
scss/colors/red.scss:13
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:303:in `reformat_argument_error'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:146:in `_perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:468:in `visit_variable'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:248:in `perform_sass_fn'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:248:in `each'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:248:in `perform_sass_fn'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:247:in `catch'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:247:in `perform_sass_fn'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/funcall.rb:131:in `_perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:468:in `visit_variable'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/engine.rb:268:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/sass_scss.rb:415:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/base.rb:19:in `parse!'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/sass:13
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: \"inverse(#ff0000)\" is not a color for `lightness'\A         on line 15 of scss/colors/_functions.scss\A         from line 13 of scss/colors/red.scss\A \A 10:                \"textcolor\"     : #FFFFFF,\A 11:                \"textHighlight\" : inverse($primary));\A 12: \A 13: @import \"color_template\";"; }
