/*
 *  css/colors/success.css
 *
 *  bootstrap success color scheme
 *
 */
.btn-success-inverse, .navbar-success .btn-success {
  background-color: #ffffff;
  border-color: #4cae4c;
  color: #5cb85c;
}
.btn-success-inverse:hover, .navbar-success .btn-success:hover, .btn-success-inverse:focus, .navbar-success .btn-success:focus {
  background-color: #ffffff;
  color: #4cae4c;
}

.navbar-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.navbar-success .navbar-brand {
  background-color: #5cb85c;
  color: #ffffff;
}
.navbar-success .navbar-brand:hover, .navbar-success .navbar-brand:focus {
  color: #4cae4c;
  background-color: #ffffff;
}
.navbar-success .navbar-text {
  background-color: #5cb85c;
  color: #ffffff;
}
.navbar-success .navbar-nav, .navbar-success .dropdown-menu {
  background-color: #5cb85c;
  opacity: 1;
}
.navbar-success .navbar-nav > li > a, .navbar-success .dropdown-menu > li > a {
  background-color: #5cb85c;
  color: #ffffff;
}
.navbar-success .navbar-nav > li > a:hover, .navbar-success .navbar-nav > li > a:focus, .navbar-success .dropdown-menu > li > a:hover, .navbar-success .dropdown-menu > li > a:focus {
  color: #4cae4c;
  background-color: #ffffff;
}
.navbar-success .navbar-nav > .active > a, .navbar-success .navbar-nav > .active > a:hover, .navbar-success .navbar-nav > .active > a:focus, .navbar-success .dropdown-menu > .active > a, .navbar-success .dropdown-menu > .active > a:hover, .navbar-success .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #4cae4c;
}
.navbar-success .navbar-nav > .open > a, .navbar-success .navbar-nav > .open > a:hover, .navbar-success .navbar-nav > .open > a:focus, .navbar-success .dropdown-menu > .open > a, .navbar-success .dropdown-menu > .open > a:hover, .navbar-success .dropdown-menu > .open > a:focus {
  color: #ffffff;
  background-color: #4cae4c;
}
.navbar-success .navbar-toggle {
  border-color: #4cae4c;
}
.navbar-success .navbar-toggle:hover, .navbar-success .navbar-toggle:focus {
  background-color: #4cae4c;
}
.navbar-success .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-success .navbar-collapse,
.navbar-success .navbar-form {
  border-color: #ffffff;
}
.navbar-success .navbar-link {
  background-color: #5cb85c;
  color: #ffffff;
}
.navbar-success .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-success .navbar-nav .open .dropdown-menu > li > a {
    background-color: #5cb85c;
    color: #ffffff;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-success .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > .active > a, .navbar-success .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-success .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4cae4c;
  }
}
.input-group .btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #ffffff;
}
.input-group .form-control {
  border-color: #4cae4c;
}

.panel-success {
  border-color: #4cae4c;
}
.panel-success > .panel-heading {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #ffffff;
}

.content-success {
  border-color: #4cae4c;
}

#header-body {
  background-color: #eaf6ea;
}

#header-menubar {
  background-color: #5cb85c;
}
