/*
 *  css/colors/success.css
 *
 *  bootstrap success color scheme
 *
 */
.btn-fluidity,
.color-fluidity,
.form-control {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #ffffff;
}
.btn-fluidity:hover,
.color-fluidity:hover,
.form-control:hover, .btn-fluidity:focus,
.color-fluidity:focus,
.form-control:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #5cb85c;
}

.btn-fluidity-inverse,
.color-fluidity-inverse {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #5cb85c;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #4cae4c;
}

.back-fluidity {
  background-color: #5cb85c;
}

.bord-fluidity {
  border-color: #4cae4c;
}

.fore-fluidity {
  color: #ffffff;
}

.ui-autocomplete {
  background-color: #ffffff;
  border: 1px solid #4cae4c;
  color: #5cb85c;
}
.ui-autocomplete li {
  border: 1px solid transparent;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  border: 1px solid #4cae4c;
}

ul.sub-menu {
  background-color: #eaf6ea;
}

.panel-fluidity {
  border-color: #4cae4c;
}
.panel-fluidity > .panel-heading {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #ffffff;
}

.content-fluidity {
  border-color: #4cae4c;
}

header {
  background-color: #eaf6ea;
}

#header-menubar {
  background-color: #5cb85c;
}

footer {
  background-color: #5cb85c;
  color: #ffffff;
}
footer h4 {
  color: #ffffff;
}
