/*
 *  css/colors/warning-inverse.css
 *
 *  based on bootstrap warning color scheme
 *
 */
/* functions */
/* mixins */
.btn-fluidity,
.color-fluidity,
li.btn-fluidity > a,
.searchform-input, form input.searchform-input {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
}
.btn-fluidity:hover,
.color-fluidity:hover,
li.btn-fluidity > a:hover,
.searchform-input:hover, .btn-fluidity:focus,
.color-fluidity:focus,
li.btn-fluidity > a:focus,
.searchform-input:focus {
  background-color: #8A6D3B;
  border-color: #FCF8E3;
  color: #FCF8E3;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

.btn-fluidity-inverse,
.color-fluidity-inverse, .navbar-fluidity .btn-fluidity {
  background-color: #8A6D3B;
  border-color: #FCF8E3;
  color: #FCF8E3;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .navbar-fluidity .btn-fluidity:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus, .navbar-fluidity .btn-fluidity:focus {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #FAEBCC;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

form .form-control {
  background-color: #FCF8E3;
  border-color: #8A6D3B;
  color: #8A6D3B;
}
form .form-control:hover, form .form-control:focus {
  background-color: #FCF8E3;
  border-color: #8A6D3B;
  color: #8A6D3B;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

.btn-fluidity,
.color-fluidity,
.searchform-input {
  border-style: solid;
  border-width: 1px;
}

li.btn-fluidity {
  border: none;
}

.btn-fluidity-inverse,
.color-fluidity-inverse {
  border-width: 1px;
  border-style: solid;
}

.back-fluidity {
  background-color: #FCF8E3;
}

.bord-fluidity {
  border-color: #FAEBCC;
}

.fore-fluidity {
  color: #8A6D3B;
}

form .form-control {
  border: 1px solid #8a6d3b;
}
form .form-control::-moz-placeholder {
  color: #8A6D3B;
  opacity: 1;
}
form .form-control:-moz-placeholder {
  color: #8A6D3B;
}
form .form-control:-ms-input-placeholder {
  color: #8A6D3B;
}
form .form-control::-webkit-input-placeholder {
  color: #8A6D3B;
}
form .form-control:hover, form .form-control:focus {
  border: 1px solid #8a6d3b;
}
form .form-control:hover::-moz-placeholder, form .form-control:focus::-moz-placeholder {
  color: #8A6D3B;
  opacity: 1;
}
form .form-control:hover:-moz-placeholder, form .form-control:focus:-moz-placeholder {
  color: #8A6D3B;
}
form .form-control:hover:-ms-input-placeholder, form .form-control:focus:-ms-input-placeholder {
  color: #8A6D3B;
}
form .form-control:hover::-webkit-input-placeholder, form .form-control:focus::-webkit-input-placeholder {
  color: #8A6D3B;
}

.ui-autocomplete {
  background-color: #8A6D3B;
  border: 2px solid #FAEBCC;
  color: #FCF8E3;
}
.ui-autocomplete li {
  border: 2px solid transparent;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  border: 2px solid #FAEBCC;
}

form input.searchform-input::-moz-placeholder {
  color: #8A6D3B;
  opacity: 1;
}
form input.searchform-input:-moz-placeholder {
  color: #8A6D3B;
}
form input.searchform-input:-ms-input-placeholder {
  color: #8A6D3B;
}
form input.searchform-input::-webkit-input-placeholder {
  color: #8A6D3B;
}
form input.searchform-input:hover::-moz-placeholder, form input.searchform-input:focus::-moz-placeholder {
  color: #FCF8E3;
  opacity: 1;
}
form input.searchform-input:hover:-moz-placeholder, form input.searchform-input:focus:-moz-placeholder {
  color: #FCF8E3;
}
form input.searchform-input:hover:-ms-input-placeholder, form input.searchform-input:focus:-ms-input-placeholder {
  color: #FCF8E3;
}
form input.searchform-input:hover::-webkit-input-placeholder, form input.searchform-input:focus::-webkit-input-placeholder {
  color: #FCF8E3;
}

[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.navbar-fluidity {
  background-color: #FCF8E3;
  color: #8A6D3B;
}
.navbar-fluidity .navbar-brand {
  background-color: #FCF8E3;
  color: #8A6D3B;
}
.navbar-fluidity .navbar-brand:hover, .navbar-fluidity .navbar-brand:focus {
  background-color: #FAEBCC;
}
.navbar-fluidity .navbar-text {
  background-color: #FCF8E3;
  color: #8A6D3B;
}
.navbar-fluidity .nav-menu, .navbar-fluidity .navbar-nav, .navbar-fluidity .dropdown-menu {
  background-color: #FCF8E3;
  opacity: 1.3;
}
.navbar-fluidity .nav-menu > li > a, .navbar-fluidity .navbar-nav > li > a, .navbar-fluidity .dropdown-menu > li > a {
  background-color: #FCF8E3;
  color: #8A6D3B;
}
.navbar-fluidity .nav-menu > li > a:hover, .navbar-fluidity .nav-menu > li > a:focus, .navbar-fluidity .navbar-nav > li > a:hover, .navbar-fluidity .navbar-nav > li > a:focus, .navbar-fluidity .dropdown-menu > li > a:hover, .navbar-fluidity .dropdown-menu > li > a:focus {
  background-color: #FAEBCC;
}
.navbar-fluidity .nav-menu .current-menu-item > a, .navbar-fluidity .nav-menu .current-menu-item > a:hover, .navbar-fluidity .nav-menu .current-menu-item > a:focus, .navbar-fluidity .nav-menu > .active > a, .navbar-fluidity .nav-menu > .active > a:hover, .navbar-fluidity .nav-menu > .active > a:focus, .navbar-fluidity .nav-menu > .open > a, .navbar-fluidity .nav-menu > .open > a:hover, .navbar-fluidity .nav-menu > .open > a:focus, .navbar-fluidity .navbar-nav .current-menu-item > a, .navbar-fluidity .navbar-nav .current-menu-item > a:hover, .navbar-fluidity .navbar-nav .current-menu-item > a:focus, .navbar-fluidity .navbar-nav > .active > a, .navbar-fluidity .navbar-nav > .active > a:hover, .navbar-fluidity .navbar-nav > .active > a:focus, .navbar-fluidity .navbar-nav > .open > a, .navbar-fluidity .navbar-nav > .open > a:hover, .navbar-fluidity .navbar-nav > .open > a:focus, .navbar-fluidity .dropdown-menu .current-menu-item > a, .navbar-fluidity .dropdown-menu .current-menu-item > a:hover, .navbar-fluidity .dropdown-menu .current-menu-item > a:focus, .navbar-fluidity .dropdown-menu > .active > a, .navbar-fluidity .dropdown-menu > .active > a:hover, .navbar-fluidity .dropdown-menu > .active > a:focus, .navbar-fluidity .dropdown-menu > .open > a, .navbar-fluidity .dropdown-menu > .open > a:hover, .navbar-fluidity .dropdown-menu > .open > a:focus {
  background-color: #FAEBCC;
}
.navbar-fluidity .navbar-toggle {
  border-color: #FAEBCC;
}
.navbar-fluidity .navbar-toggle:hover, .navbar-fluidity .navbar-toggle:focus {
  background-color: #FAEBCC;
}
.navbar-fluidity .navbar-toggle .icon-bar {
  background-color: #8A6D3B;
}
.navbar-fluidity .navbar-collapse, .navbar-fluidity .navbar-form {
  border-color: #8A6D3B;
}
.navbar-fluidity .navbar-link {
  background-color: #FCF8E3;
}

@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a {
    background-color: #FCF8E3;
    color: #8A6D3B;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #8A6D3B;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8A6D3B;
    background-color: #FAEBCC;
  }
}
/* _s */
.main-navigation {
  background-color: #FCF8E3;
}
.main-navigation a {
  background-color: #FCF8E3;
  color: #8A6D3B;
}
.main-navigation a:hover, .main-navigation a:focus {
  background-color: #FAEBCC;
  color: #8A6D3B;
  font-weight: normal;
}

ul.sub-menu {
  background-color: white;
}

ul.pagination > li > a {
  color: #8A6D3B;
  background: #FCF8E3;
  border-color: #FAEBCC;
}
ul.pagination > li > a:hover, ul.pagination > li > a:focus, ul.pagination > li > span {
  color: #FCF8E3;
  background: #8A6D3B;
  border-color: #FAEBCC;
}

.panel-fluidity {
  border-color: #FAEBCC;
}
.panel-fluidity > .panel-heading {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
}

a.tcc-footer-menu-item {
  color: #8A6D3B;
}
a.tcc-footer-menu-item:visited {
  border-bottom: 1px wavy #8A6D3B;
}

a {
  border-bottom: 1px solid #8A6D3B;
  color: #8A6D3B;
}
a:visited {
  border-bottom: 1px wavy #8A6D3B;
  color: #8A6D3B;
}
a:hover, a:focus {
  border-bottom: 2px solid #8A6D3B;
  color: #8A6D3B;
  font-weight: bold;
  text-decoration: none;
}

.navbar a {
  border: none;
}
.navbar a:visited {
  border: none;
}
.navbar a:hover, .navbar a:focus {
  border: none;
  font-weight: normal;
}

blockquote,
.content-fluidity {
  border-color: #FAEBCC;
}

code {
  background-color: #FCF8E3;
  color: #8A6D3B;
}

#fluid-footer {
  background-color: #FCF8E3;
  color: #8A6D3B;
}
#fluid-footer h4 {
  color: #8A6D3B;
}

#header-menubar {
  background-color: #FCF8E3;
}

hr {
  border-color: #FAEBCC;
}

.lost-password {
  color: #8A6D3B;
}

.page-title {
  color: #8A6D3B;
  text-shadow: #FAEBCC 1px 1px 2px;
}

.error404 .page-title {
  color: #8A6D3B;
}

.port-opaque {
  background-color: rgba(252, 248, 227, 0.7) !important;
}

.sticky {
  color: #8A6D3B;
}

.tml {
  color: #8A6D3B;
}
.tml input {
  border-color: #8A6D3B;
}
