/*
 *  tcc-fluidity/css/warning.css
 *
 *  bootstrap warning color scheme
 *
 */
.btn-warning-inverse, .navbar-warning .btn-warning {
  background-color: #FFFFFF;
  border-color: #EEA236;
  color: #F0AD4E;
}
.btn-warning-inverse:hover, .navbar-warning .btn-warning:hover, .btn-warning-inverse:focus, .navbar-warning .btn-warning:focus {
  background-color: #FFFFFF;
  color: #EEA236;
}

.navbar-warning {
  background-color: #F0AD4E;
  border-color: #EEA236;
}
.navbar-warning .navbar-brand {
  color: #FFFFFF;
}
.navbar-warning .navbar-brand:hover, .navbar-warning .navbar-brand:focus {
  color: #FFFFFF;
}
.navbar-warning .navbar-text {
  color: #FFFFFF;
}
.navbar-warning .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-warning .navbar-nav > li > a:hover, .navbar-warning .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
.navbar-warning .navbar-nav > .active > a, .navbar-warning .navbar-nav > .active > a:hover, .navbar-warning .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #EEA236;
}
.navbar-warning .navbar-nav > .open > a, .navbar-warning .navbar-nav > .open > a:hover, .navbar-warning .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #EEA236;
}
.navbar-warning .navbar-toggle {
  border-color: #EEA236;
}
.navbar-warning .navbar-toggle:hover, .navbar-warning .navbar-toggle:focus {
  background-color: #EEA236;
}
.navbar-warning .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-warning .navbar-collapse,
.navbar-warning .navbar-form {
  border-color: #FFFFFF;
}
.navbar-warning .navbar-link {
  color: #FFFFFF;
}
.navbar-warning .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-warning .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-warning .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-warning .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-warning .navbar-nav .open .dropdown-menu > .active > a, .navbar-warning .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-warning .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #EEA236;
  }
}
.input-group .btn-warning {
  background-color: #F0AD4E;
  border-color: #EEA236;
  color: #FFFFFF;
}
.input-group .form-control {
  border-color: #EEA236;
}

.panel-warning {
  border-color: #EEA236;
}
.panel-warning > .panel-heading {
  background-color: #F0AD4E;
  border-color: #EEA236;
  color: #FFFFFF;
}

.content-warning {
  border-color: #EEA236;
}

#header-body {
  background-color: #f4c37d;
}
