/*
 *  css/colors/warning-inverse.css
 *
 *  based on bootstrap warning color scheme
 *
 */
.btn-fluidity,
.color-fluidity,
.form-control {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
}
.btn-fluidity:hover,
.color-fluidity:hover,
.form-control:hover, .btn-fluidity:focus,
.color-fluidity:focus,
.form-control:focus {
  background-color: #8A6D3B;
  border-color: #8A6D3B;
  color: #FCF8E3;
}

.btn-fluidity-inverse,
.color-fluidity-inverse {
  background-color: #8A6D3B;
  border-color: #8A6D3B;
  color: #FCF8E3;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #FAEBCC;
}

.back-fluidity {
  background-color: #FCF8E3;
}

.bord-fluidity {
  border-color: #FAEBCC;
}

.fore-fluidity {
  color: #8A6D3B;
}

.ui-autocomplete {
  background-color: #8A6D3B;
  border: 1px solid #FAEBCC;
  color: #FCF8E3;
}
.ui-autocomplete li {
  border: 1px solid transparent;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  border: 1px solid #FAEBCC;
}

.panel-fluidity {
  border-color: #FAEBCC;
}
.panel-fluidity > .panel-heading {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
}

.content-fluidity {
  border-color: #FAEBCC;
}

#header-body {
  background-color: white;
}

#header-menubar {
  background-color: #FCF8E3;
}

#fluid-footer {
  background-color: #FCF8E3;
}
