/*
 *  css/colors/yellow.css
 *
 */
.btn-fluidity,
.color-fluidity,
.form-control {
  background-color: #fff200;
  border-color: #ccc200;
  color: #FFFFFF;
}
.btn-fluidity:hover,
.color-fluidity:hover,
.form-control:hover, .btn-fluidity:focus,
.color-fluidity:focus,
.form-control:focus {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #fff200;
}

.btn-fluidity-inverse,
.color-fluidity-inverse {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #fff200;
}
.btn-fluidity-inverse:hover,
.color-fluidity-inverse:hover, .btn-fluidity-inverse:focus,
.color-fluidity-inverse:focus {
  background-color: #fff200;
  border-color: #ccc200;
  color: #ccc200;
}

.back-fluidity {
  background-color: #fff200;
}

.bord-fluidity {
  border-color: #ccc200;
}

.fore-fluidity {
  color: #FFFFFF;
}

.ui-autocomplete {
  background-color: #FFFFFF;
  border: 1px solid #ccc200;
  color: #fff200;
}
.ui-autocomplete li {
  border: 1px solid transparent;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  border: 1px solid #ccc200;
}

ul.sub-menu {
  background-color: #fff200;
}

.panel-fluidity {
  border-color: #ccc200;
}
.panel-fluidity > .panel-heading {
  background-color: #fff200;
  border-color: #ccc200;
  color: #FFFFFF;
}

.content-fluidity {
  border-color: #ccc200;
}

header {
  background-color: #fffccc;
}

#header-menubar {
  background-color: #fff200;
}

footer {
  background-color: #fff200;
  color: #FFFFFF;
}
