/*
 *  css/colors/yellow.css
 *
 */
.input-group .btn-fluidity,
.input-group .btn-yellow {
  background-color: #fff200;
  border-color: #ccc200;
  color: #FFFFFF;
}

.color-fluidity-inverse,
.color-yellow-inverse, .btn-fluidity-inverse,
.btn-yellow-inverse, .navbar-fluidity .btn-fluidity,
.navbar-fluidity .btn-yellow,
.navbar-yellow .btn-fluidity,
.navbar-yellow .btn-yellow, .form-control, .ui-autocomplete {
  background-color: #FFFFFF;
  border-color: #ccc200;
  color: #fff200;
}
.color-fluidity-inverse:hover,
.color-yellow-inverse:hover, .btn-fluidity-inverse:hover,
.btn-yellow-inverse:hover, .navbar-fluidity .btn-fluidity:hover,
.navbar-fluidity .btn-yellow:hover,
.navbar-yellow .btn-fluidity:hover,
.navbar-yellow .btn-yellow:hover, .form-control:hover, .ui-autocomplete:hover, .color-fluidity-inverse:focus,
.color-yellow-inverse:focus, .btn-fluidity-inverse:focus,
.btn-yellow-inverse:focus, .navbar-fluidity .btn-fluidity:focus,
.navbar-fluidity .btn-yellow:focus,
.navbar-yellow .btn-fluidity:focus,
.navbar-yellow .btn-yellow:focus, .form-control:focus, .ui-autocomplete:focus {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #ccc200;
}

.color-fluidity,
.color-yellow {
  background-color: #fff200;
  border-color: #ccc200;
  color: #FFFFFF;
}

.btn-fluidity,
.btn-yellow {
  background-color: #fff200;
  border-color: #ccc200;
  color: #FFFFFF;
}

.navbar-fluidity,
.navbar-yellow {
  background-color: #fff200;
  border-color: #ccc200;
}
.navbar-fluidity .navbar-brand,
.navbar-yellow .navbar-brand {
  background-color: #fff200;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-brand:hover, .navbar-fluidity .navbar-brand:focus,
.navbar-yellow .navbar-brand:hover,
.navbar-yellow .navbar-brand:focus {
  color: #ccc200;
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-text,
.navbar-yellow .navbar-text {
  background-color: #fff200;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-nav, .navbar-fluidity .dropdown-menu,
.navbar-yellow .navbar-nav,
.navbar-yellow .dropdown-menu {
  background-color: #fff200;
  opacity: 1;
}
.navbar-fluidity .navbar-nav > li > a, .navbar-fluidity .dropdown-menu > li > a,
.navbar-yellow .navbar-nav > li > a,
.navbar-yellow .dropdown-menu > li > a {
  background-color: #fff200;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-nav > li > a:hover, .navbar-fluidity .navbar-nav > li > a:focus, .navbar-fluidity .dropdown-menu > li > a:hover, .navbar-fluidity .dropdown-menu > li > a:focus,
.navbar-yellow .navbar-nav > li > a:hover,
.navbar-yellow .navbar-nav > li > a:focus,
.navbar-yellow .dropdown-menu > li > a:hover,
.navbar-yellow .dropdown-menu > li > a:focus {
  color: #ccc200;
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-nav > .active > a, .navbar-fluidity .navbar-nav > .active > a:hover, .navbar-fluidity .navbar-nav > .active > a:focus, .navbar-fluidity .dropdown-menu > .active > a, .navbar-fluidity .dropdown-menu > .active > a:hover, .navbar-fluidity .dropdown-menu > .active > a:focus,
.navbar-yellow .navbar-nav > .active > a,
.navbar-yellow .navbar-nav > .active > a:hover,
.navbar-yellow .navbar-nav > .active > a:focus,
.navbar-yellow .dropdown-menu > .active > a,
.navbar-yellow .dropdown-menu > .active > a:hover,
.navbar-yellow .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #ccc200;
}
.navbar-fluidity .navbar-nav > .open > a, .navbar-fluidity .navbar-nav > .open > a:hover, .navbar-fluidity .navbar-nav > .open > a:focus, .navbar-fluidity .dropdown-menu > .open > a, .navbar-fluidity .dropdown-menu > .open > a:hover, .navbar-fluidity .dropdown-menu > .open > a:focus,
.navbar-yellow .navbar-nav > .open > a,
.navbar-yellow .navbar-nav > .open > a:hover,
.navbar-yellow .navbar-nav > .open > a:focus,
.navbar-yellow .dropdown-menu > .open > a,
.navbar-yellow .dropdown-menu > .open > a:hover,
.navbar-yellow .dropdown-menu > .open > a:focus {
  color: #FFFFFF;
  background-color: #ccc200;
}
.navbar-fluidity .navbar-toggle,
.navbar-yellow .navbar-toggle {
  border-color: #ccc200;
}
.navbar-fluidity .navbar-toggle:hover, .navbar-fluidity .navbar-toggle:focus,
.navbar-yellow .navbar-toggle:hover,
.navbar-yellow .navbar-toggle:focus {
  background-color: #ccc200;
}
.navbar-fluidity .navbar-toggle .icon-bar,
.navbar-yellow .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-fluidity .navbar-collapse,
.navbar-fluidity .navbar-form,
.navbar-yellow .navbar-collapse,
.navbar-yellow .navbar-form {
  border-color: #FFFFFF;
}
.navbar-fluidity .navbar-link,
.navbar-yellow .navbar-link {
  background-color: #fff200;
  color: #FFFFFF;
}
.navbar-fluidity .navbar-link:hover,
.navbar-yellow .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a,
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a {
    background-color: #fff200;
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-fluidity .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #ccc200;
  }
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus {
  color: #FFFFFF;
}

.input-group .form-control {
  border-color: #ccc200;
}

.panel-fluidity,
.panel-yellow {
  border-color: #ccc200;
}
.panel-fluidity > .panel-heading,
.panel-yellow > .panel-heading {
  background-color: #fff200;
  border-color: #ccc200;
  color: #FFFFFF;
}

.content-fluidity,
.content-yellow {
  border-color: #ccc200;
}

#header-body {
  background-color: #fffccc;
}

#header-menubar {
  background-color: #fff200;
}
