/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 14 of scss/vendors/_wordpress.scss
        from line 1 of scss/vendors/_vendors.scss
        from line 17 of scss/style.scss

9: .wp-custom-header video {
10: 	display: block;
11: 	height: auto;
12: 	max-width: 100%;
13: }

Backtrace:
scss/vendors/_wordpress.scss:14
scss/vendors/_vendors.scss:1
scss/style.scss:17
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:1167:in `expected'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:1101:in `expected'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:1096:in `tok!'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:643:in `block'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:636:in `ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:660:in `block_child'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:653:in `block_contents'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/scss/parser.rb:42:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/engine.rb:393:in `_to_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/engine.rb:299:in `to_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/engine.rb:268:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/sass_scss.rb:415:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/../lib/sass/exec/base.rb:19:in `parse!'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.11/bin/sass:13
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 14 of scss/vendors/_wordpress.scss\A         from line 1 of scss/vendors/_vendors.scss\A         from line 17 of scss/style.scss\A \A 9: .wp-custom-header video {\A 10: 	display: block;\A 11: 	height: auto;\A 12: 	max-width: 100%;\A 13: }"; }
