// fluidity/scss/_color_template.scss

// template for bootstrap color scheme

@import "functions";

$headerBody: color(background) !default;
$maincomp: darkest(color(background), color(textcolor));
$mainhigh: darkest(color(bgHighlight), color(textHighlight));
$mainlite: lightest(color(background), color(textcolor));

@import "placeholders";

body {
	color: $maincomp;
	&.archive.author article {
		border: 1px solid $maincomp;
	}
}

.btn-fluidity,
.color-fluidity,
li.btn-fluidity > a,
.searchform-input {
	@extend %regular;
}

.btn-fluidity,
.color-fluidity,
.searchform-input {
	border-style: solid;
	border-width: 1px;
}

// solves display issue for Theme_Navigation links
li.btn-fluidity {
	border: none;
}


.btn-fluidity-inverse,
.color-fluidity-inverse {
	border-width: 1px;
	border-style: solid;
	@extend %inverse;
}

.back-fluidity { background-color: color(background); }
.bord-fluidity { border-color: color(bgHighlight); }
.fore-fluidity { color: color(textcolor); }


// input fields

input,
form .form-control {
	@extend %textfield;
	@include placeholder($maincomp); //color(background));
	border: 1px solid rgba($maincomp, 1); //color(background), 1);
	&:hover, &:focus {
		@include placeholder($mainhigh); //color(bgHighlight));
//		@include box-shadow(0 0 4px rgba($mainhigh, .5)); //color(bgHighlight), .5));
		border: 1px solid rgba($mainhigh, 1); //color(bgHighlight), 1);
	}
}

.ui-autocomplete {
	background-color: color(textcolor);
	border: 2px solid color(bgHighlight);
	color: color(background);
	li {
		border: 2px solid transparent;
		&:hover, &:focus {
			border: 2px solid color(bgHighlight);
		}
	}
}

form input.searchform-input {
	@extend %regular;
	@include placeholder(color(textcolor));
	&:hover, &:focus {
		@include placeholder(color(background));
	}
}

// http://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css
[type="search"] {
	-moz-appearance:    textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}


// navigation

@import "navbar";
@import "underscore";

// pagination

ul.pagination > li {
	& > a {
		color: color(textcolor);
		background: color(background);
		border-color: color(bgHighlight);
	}
	& > a:hover,
	& > a:focus,
	& > span {
		color: color(background);
		background: color(textcolor);
		border-color: color(bgHighlight);
		font-weight: normal;
	}
}


// panels

.panel-fluidity {
  border-color: color(bgHighlight);
  > .panel-heading {
    background-color: color(background);
    border-color: color(bgHighlight);
    color: color(textcolor);
  }
}

// miscellaneous

a.tcc-footer-menu-item {
	color: color(textcolor);
	&:visited {
		border-bottom: 1px solid color(textcolor);
	}
}

a {
	border-bottom: 1px solid $maincomp; //color(background);
	color: $maincomp; //color(background);
	&:visited {
		border-bottom: 1px solid $maincomp; //color(background);
		color: $mainhigh; //color(bgHighlight);
	}
	&:hover, &:focus {
		border-bottom: 2px solid $mainhigh; //color(bgHighlight);
		color: $mainhigh; //color(bgHighlight);
		font-weight: bold;
		text-decoration: none;
	}
}

.navbar a {
	border: none;
	&:visited {
		border: none;
	}
	&:hover, &:focus {
		border: none;
		font-weight: normal;
	}
}

blockquote,
.content-fluidity {
	border-color: color(bgHighlight);
}

code,
pre code,
pre {
	color: $maincomp;
}

#fluid-footer {
   background-color: color(background);
   color: color(textcolor);
   h4 {
      color: color(textcolor);
   }
}

#header-menubar {
	background-color: color(background);
}

hr {
	border-color: $mainhigh; //color(bgHighlight);
}

.page-title {
	color: $maincomp; //color(background);
	text-shadow: color(bgHighlight) 1px 1px 2px;
}

.error404 .page-title {
	color: color(textcolor);
}

.port-opaque {
	background-color: rgba( $headerBody, .7 ) !important;
}

.sticky {
	color: $maincomp;
}

// bbPress
.forum {
	& div.bbp-template-notice,
	& div.bbp-template-notice.info,
	& legend {
		@extend %regular;
	}
}

// Theme My Login
.tml {
	color: $maincomp;
	& input {
		border-color: $mainhigh;
	}
	& p.message {
		background-color: $mainlite;
		border: 1px solid $mainhigh;
		color: $maincomp;
	}
}

// Front End Editor
.wp-editor-container {
	border: 1px solid color(bgHighlight);
	& .quicktags-toolbar {
		background: color(background);
		& .button {
			@include box-shadow(none);
		}
	}
	& .quicktags-toolbar,
	& textarea.wp-editor-area {
		border-color: color(bgHighlight);
	}
}

// Front End Profile
.wpfep-wrapper {
	& ul.wpfep-tabs {
		border-bottom-color: color(bgHighlight);
		& li a {
			background-color: color(background);
			border-color: color(bgHighlight);
			color: color(textcolor);
			&.active {
				background-color: color(bgHighlight);
				border-bottom-color: color(bgHighlight);
			}
			&:hover, &:focus {
				background-color: color(bgHighlight);
				font-weight: normal;
			}
		}
	}
	& .wpfep-field {
		& input {
			@extend %textfield;
			@include placeholder($maincomp); //color(background));
			border: 1px solid rgba($maincomp, 1); //color(background), 1);
			&:hover, &:focus {
				@include placeholder($mainhigh); //color(bgHighlight));
				border: 1px solid rgba($mainhigh, 1); //color(bgHighlight), 1);
			}
		}
		& p.description {
			color: rgba($maincomp,0.8);
		}
	}
	& .wpfep-save input[type="submit"] {
		@extend %regular;
		@include box-shadow(none);
	}
}
