// fluidity/scss/_color_template.scss

// template for bootstrap color scheme

@import "functions";
@import "placeholders";

$headerBody: color(background) !default;

.btn-fluidity,
.color-fluidity,
.form-control,
li.btn-fluidity > a {
	@extend %regular;
}

.btn-fluidity-inverse,
.color-fluidity-inverse {
  @extend %inverse;
}

.back-fluidity { background-color: color(background); }
.bord-fluidity { border-color: color(bgHighlight); }
.fore-fluidity { color: color(textcolor); }


// input fields

.ui-autocomplete {
	background-color: color(textcolor);
	border: 1px solid color(bgHighlight);
	color: color(background);
	li {
		border: 1px solid transparent;
		&:hover, &:focus {
			border: 1px solid color(bgHighlight);
		}
	}
}

.searchform {
	@include placeholder(color(textcolor));
	&:hover, &:focus {
		@include placeholder(color(background));
	}
}

// navigation

@import "navbar";
@import "underscore";

// panels

.panel-fluidity {
  border-color: color(bgHighlight);
  > .panel-heading {
    background-color: color(background);
    border-color: color(bgHighlight);
    color: color(textcolor);
  }
}

// miscellaneous

.article {
	& a {
		border-bottom: 1px solid color(background);
		color: color(background);
		&:visited {
			border-bottom: 1px wavy color(background);
			color: color(bgHighlight);
		}
		&:hover, &:focus {
			border-bottom: 2px solid color(bgHighlight);
			color: color(bgHighlight);
			text-decoration: none;
		}
	}
}

blockquote,
.content-fluidity {
	border-color: color(bgHighlight);
}

#fluid-footer {
   background-color: color(background);
   color: color(textcolor);
   h4 {
      color: color(textcolor);
   }
}

#header-menubar {
	background-color: color(background);
}

hr {
	border-color: color(bgHighlight);
}

.page-title {
	color: color(textcolor);
	text-shadow: color(bgHighlight) 1px 1px 2px;
}

.port-opaque {
	background-color: rgba( $headerBody, .7 ) !important;
}

.tml {
	color: color(background);
	& input {
		border-color: color(bgHighlight);
	}
}
