// fluidity/scss/_color_template.scss

// template for bootstrap color scheme


@import "functions";
@import "placeholders";

.color-fluidity,
.color-#{$colorName} {
	background-color: color(background);
	border-color: color(bgHighlight);
	color: color(textcolor);
}

.color-fluidity-inverse,
.color-#{$colorName}-inverse {
  @extend %inverse;
}

// buttons

.btn-fluidity,
.btn-#{$colorName} {
	background-color: color(background);
	border-color: color(bgHighlight);
	color: color(textcolor);
}

.btn-fluidity-inverse,
.btn-#{$colorName}-inverse {
  @extend %inverse;
}


// navbars

.navbar-fluidity,
.navbar-#{$colorName} {
  background-color: color(background);
  border-color: color(bgHighlight);
  .navbar-brand {
    background-color: color(background);
    color: color(textcolor);
    &:hover, &:focus {
      color: color(bgHighlight);
      background-color: color(textHighlight);
    }
  }
  .navbar-text {
    background-color: color(background);
    color: color(textcolor);
  }
  .navbar-nav, .dropdown-menu {
    background-color: color(background);
    opacity: 1;
    > li {
      > a {
        background-color: color(background);
        color: color(textcolor);
        &:hover,  &:focus {
          color: color(bgHighlight);
          background-color: color(textHighlight);
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: color(textHighlight);
        background-color: color(bgHighlight);
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: color(textHighlight);
        background-color: color(bgHighlight);
      }
    }
  }
  .navbar-toggle {
    border-color: color(bgHighlight);
    &:hover, &:focus {
      background-color: color(bgHighlight); }
    .icon-bar {
      background-color: color(textcolor);
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: color(textcolor); }
  .navbar-link {
    background-color: color(background);
    color: color(textcolor);
    &:hover {
      color: color(textHighlight);
    }
  }
  .btn-fluidity,
  .btn-#{$colorName} {
    @extend %inverse;
  }
}


@media (max-width: 767px) {
  .navbar-fluidity .navbar-nav .open .dropdown-menu,
  .navbar-#{$colorName} .navbar-nav .open .dropdown-menu {
    > li > a {
      background-color: color(background);
      color: color(textcolor);
      &:hover, &:focus {
        color: color(textHighlight);
      }
    }
    > .active {
      > a, > a:hover, > a:focus, {
        color: color(textHighlight);
        background-color: color(bgHighlight);
      }
    }
  }
}


// input fields

.form-control {
   @extend %inverse;
}


.ui-autocomplete {
	@extend %inverse;
	li {
		&:hover, &:focus {
			color: color(bgHighlight);
		}
	}
}

.input-group {
	.btn-fluidity,
	.btn-#{$colorName} {
		@extend %regular;
	}
	.form-control {
		border-color: color(bgHighlight);
	}
}


// panels

.panel-fluidity,
.panel-#{$colorName} {
  border-color: color(bgHighlight);
  > .panel-heading {
    background-color: color(background);
    border-color: color(bgHighlight);
    color: color(textcolor);
  }
}

// miscellaneous

.content-fluidity,
.content-#{$colorName} {
  border-color: color(bgHighlight);
}

$headerBody: color(background) !default;
#header-body {
  background-color: lighten($headerBody,40%);
}

#header-menubar {
  background-color: color(background);
}
