
%regular {
	background-color: color(background);
	border-color: color(bgHighlight);
	color: color(textcolor);
	&:hover, &:focus {
		background-color: color(textcolor);
		@if color(textcolor) == color(textHighlight)
			{ border-color: color(background); }
		@else
			{ border-color: color(textHighlight); }
		color: color(background);
		@include box-shadow( 0 0 2px rgba( 30, 140, 190, 0.8 ) );
	}
}


%inverse {
	background-color: color(textcolor);
	@if color(textcolor) == color(textHighlight)
		{ border-color: color(background); }
	@else
		{ border-color: color(textHighlight); }
	color: color(background);
	&:hover, &:focus {
		background-color: color(background);
		border-color: color(bgHighlight);
		color: color(bgHighlight);
		@include box-shadow( 0 0 2px rgba( 30, 140, 190, 0.8 ) );
	}
}

%textfield {
	background-color: $mainlite;
	border-color: $mainhigh;
	color: $maincomp;
	&:hover, &:focus {
		background-color: $mainlite; //color(textcolor);
		border-color: $mainhigh; //color(bgHighlight);
		color: $maincomp; //color(background);
		@include box-shadow( 0 0 2px rgba( 30, 140, 190, 0.8 ) );
	}
}
