
%regular {
	background-color: color(background);
	border-color: color(bgHighlight);
	color: color(textcolor);
}


%inverse {
  background-color: color(textcolor);
  border-color: color(textHighlight);
  color: color(background);
  &:hover, &:focus {
    background-color: color(background);
    border-color: color(bgHighlight);
    color: color(bgHighlight);
  }
}
