
/* _s */

.main-navigation {
	background-color: color(background);
	& .current-menu-item > a {
		&:hover, &:focus {
		}
	}
	& a {
		background-color: color(background);
		color: color(textcolor);
		&:hover, &:focus {
			background-color: color(bgHighlight);
			color: color(textcolor);
			font-weight: normal;
		}
	}
}

ul.sub-menu {
   background-color: lighten($headerBody,40%);
}
