
/* _s */

.main-navigation {
	background-color: color(background);
	& a {
		border: none;
		color: color(textcolor);
		&:hover, &:focus {
			background-color: color(bgHighlight);
		}
	}
}

ul.sub-menu {
   background-color: lighten($headerBody,40%);
}
