/*
 *  css/colors/fire-engine.css
 *
 *  Name:  Fire Engine Red
 */

$colorName : "fire-engine";
$primary   : #CE2029;
$colors    : ( "background"    : $primary,
               "bgHighlight"   : scale-color($primary,$lightness:-20%),
               "textcolor"     : #FFFFFF,
               "textHighlight" : scale-color($primary,$lightness:-50%));

@import "color_template";
