/*
 *  css/colors/leaf-green.css
 *
 * Name: Leaf Green
 */

$colorName : "green";
$primary   : #39b54a;
$colors    : ( "background"    : $primary,
               "bgHighlight"   : scale-color($primary,$lightness:-20%),
               "textcolor"     : #FFFFFF,
               "textHighlight" : #FFFFFF);

@import "color_template";
