/*
 *  css/colors/red.css
 *
 * Name: Red
 */

$colorName : "red";
$primary   : #ff0000;
$colors    : ( "background"    : $primary,
               "bgHighlight"   : scale-color($primary,$lightness:-20%),
               "textcolor"     : #FFFFFF,
               "textHighlight" : #00FFFF, //inverse($primary)
             );

@import "color_template";
