/*
 *  css/colors/sea-blue.css
 *
 * Name: Sea Blue
 */

$colorName : "blue";
$primary   : #287BBC;
$colors    : ( "background"    : $primary,
               "bgHighlight"   : scale-color($primary,$lightness:-20%),
               "textcolor"     : #FFFFFF,
               "textHighlight" : #FFFFFF);

@import "color_template";
