
header {
	background: #fff none repeat scroll 0 0;
	border-bottom:1px solid #333;
	border-top: 10px solid rgba(0, 0, 0, 0.58);
	color: #fff;
	transition: all 1.2s ease;
	.logo img { // logo may be displayed elsewhere on site
		transition: all 1.2s ease;
		height:100px;
	}
}

.header-static {
    padding: 10px 0;
}

.header-reduce {
	//height: 108px;
	&.reduce {
   	height: 78px;
	}
	.logo.reduce img {
		height:68px;
		width:auto;
	}
}
