nav ul{
	width:100%;
	padding-top: 50%;
}
nav li{
	display:inline;
	padding:0 20px;
	border-right:1px solid #ddd;	
}
nav li:last-child{
	border-right:none;
}
nav {
    display: flex;
    float: right;
    height: 70px;
    position: relative;
}
