
nav {
	display:block;
	float:right;
	ul {
//		width:100%;
		padding-top:30px;
	}
	ul ul {
		padding: 1em 0;
		a {
			display: inline-block;
		}
	}
	li {
		display:inline;
		padding:0 20px;
		border-right:1px solid #ddd;
		&:last-child {
			border-right:none;
		}
	}
}

