/* Team Mates */
.team-title{
        font-family: 'Lato', sans-serif;
        font-weight:400;
        font-style:italic;
        color:#4F4F4F;
}
.team-rows{
        margin:40px 0;
        border-bottom:1px solid #F2F2F2;
        padding:40px 0;
}
.team-member{
        display:block;
        width:100%;
        height:auto;
}

/* team page */
.hero-team{
        border-bottom: 10px solid rgba(0, 0, 0, 0.58);
    border-top: 10px solid rgba(0, 0, 0, 0.58);
    margin-top: 20px;
}
