.page-title {
	background: rgba(0, 0, 0, 0) url("img/red-back.jpg") repeat scroll 0 0 ;
	border-bottom: 1px solid #c9c9c9;
	height: 75px;
	margin-bottom:20px;
}

.page-title-about {
	background: rgba(0, 0, 0, 0) url("img/red-back.jpg") repeat scroll 0 0;
}

.page-title-dark {
	background: rgba(0, 0, 0, 0) url("img/black-back.jpg") repeat scroll 0 0 / contain ;
}

.page-title-darkblue {
	background: rgba(0, 0, 0, 0) url("img/dark-blue-back.jpg") repeat scroll 0 0;
}
