.w-scroll{
		
}

.parallax {
   opacity: ;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.parabackhp1{
	background-image: url("../img/weare.jpg");
    height: 450px;
   
}
.parabackhp2{
	 /* The image used */
    background-image: url("../img/portfolio.png");
	 height: 450px;
    
}
.parabackhp3{
	 /* The image used */
    background-image: url("../img/contact.jpg");
	 height: 450px;
    
}
.parabackhp4{
	 /* The image used */
    background-image: url("../img/team.jpg");
	 height: 450px;
   
}
.parabackhp5{
	 /* The image used */
    background-image: url("../img/pages.jpg");
	 height: 450px;
   
}
.parabackhp6{
	 /* The image used */
    background-image: url("../img/black-panel.jpg");
	 height: 450px;
    
}
