@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
	margin:0;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#787676;
}
/* Taxonomy styles */ 

h1,.h1{
	font-size:28;
	font-weight:700;
}
h2,.h2{
	font-size:24;
	font-weight:700;
}
h3,.h3{
	font-size:20;
	font-weight:700;
}
h4,.h4{
	font-size:18;
	font-weight:700;
}
h5,.h5{
	font-size:16;
	font-weight:700;
}
h6,.h6{
	font-size:14;
	font-weight:700;	
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{    
	font-family: 'Lato', sans-serif;
	color:#333;	
}f
strong{
	color:#000;
}
blockquote {
  font: 14px/22px normal 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 
main{	 
    position: relative;
    top: 100px;
}
header {
  border-bottom:3px solid #333;
  border-top:3px solid #333;
  transition: all 1.2s ease;
  position: fixed;
  width: 100%;
  text-align: center; 
  background: #fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif; 
}
header.sticky {	
		
	height: 78px;	
	top: 0;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}
#logo>img{	
transition: all 1s ease;	
height:100px;
}
#logo.sticky img{		
	height:68px;
	width:auto;
}

a {
    color: #545454;
}
a:hover {
    color: #000;
}
/* End Taxonomy Styles */ 
.divi{
	border-bottom: 1px solid #212121;
    display: block;
    margin: 10px 0;
    width: 100%;
}
.center-it {
  margin: 50px 0 0 50px;
  left: 50%;
  top: 50%;
}
.tagline {
    height: 75px !important;
}
.style-block-dark {
    background: rgba(0, 0, 0, 0) url("../img/black-back.jpg") repeat scroll 0 0 / contain ;
    border-bottom: 1px solid #c9c9c9;
    height: 100%;
}
.style-block-red {
    background: rgba(0, 0, 0, 0) url("../img/red-back.jpg") repeat scroll 0 0;
    border-bottom: 1px solid #c9c9c9;
    height: 100%;
}
.style-block-darkblue {
    background: rgba(0, 0, 0, 0) url("../img/dark-blue-back.jpg") repeat scroll 0 0;
    border-bottom: 1px solid #c9c9c9;
    height: 100%;
}
.blackout-1{
	background:rgba(0, 0, 0, 0.41);
	height:100%;
}
.blackout-none{
	height:100%;
}
.color-block{
	position:relative;	
}
.rotatezhp1{
	-webkit-transform: rotateZ(-10deg); /* Safari */
    transform: rotateZ(-10deg); /* Standard syntax */
}

/* Nav do not use only temporary */ 
nav ul{
	width:100%;
	padding-top:30px;
}
nav li{
	display:inline;
	padding:0 20px;
	border-right:1px solid #ddd;	
}
nav li:last-child{
	border-right:none;
}
nav{
	display:block;
	float:right;
}
/* End nav styles */ 
/* Team Mates */ 
.team-title{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-style:italic;
	color:#4F4F4F;
}
.team-rows{
	margin:40px 0;
	border-bottom:1px solid #F2F2F2;
	padding:40px 0;
}
.team-member{
	display:block;
	width:100%;
	height:auto;	
}
/* team page */ 
.hero-team{	
	
}
/* footer  */ 
.footer-back{
	background-color:#171717;
	min-height:300px;
	margin-top:20px;
	padding:20px 0;
}






































