@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
	margin:0;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#787676;
	 background: linear-gradient(270deg, #ffffff, #8c8c8c, #5a5959, #fffefe);
	background-size: 800% 800%;

	-webkit-animation: darkredtoblack 28s ease infinite;
	-moz-animation: darkredtoblack 28s ease infinite;
	-o-animation: darkredtoblack 28s ease infinite;
	animation: darkredtoblack 28s ease infinite;
}
p{
color: linear-gradient(270deg, #565656, #ffffff, #5a5a5a);
-webkit-animation: darkredtoblack 28s ease infinite;
-moz-animation: darkredtoblack 28s ease infinite;
-o-animation: darkredtoblack 28s ease infinite;
animation: darkredtoblack 28s ease infinite;	
	
	
}
 @-webkit-keyframes darkredtoblack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes darkredtoblack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes darkredtoblack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes darkredtoblack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* Taxonomy styles */ 

h1,.h1{
	font-size:28;
	font-weight:700;
}
h2,.h2{
	font-size:24;
	font-weight:700;
}
h3,.h3{
	font-size:20;
	font-weight:700;
}
h4,.h4{
	font-size:18;
	font-weight:700;
}
h5,.h5{
	font-size:16;
	font-weight:700;
}
h6,.h6{
	font-size:14;
	font-weight:700;	
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{    
	font-family: 'Lato', sans-serif;
	color:#333;	
}f
strong{
	color:#000;
}
blockquote {
	font: 14px/22px normal 'Open Sans', sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	padding-left: 15px;
	border-left: 3px solid #ccc;
} 
main{	 
    position: relative;
    top:110px;
	margin-bottom:120px;
}

header {
    background-color: #fff;
    border-bottom: 3px solid #333;
    border-top: 3px solid #333;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    transition: all 1.2s ease 0s;
    width: 100%;
    z-index: 2;
}
header.sticky {	
    height: 90px;

}

#logo>img{	
transition: all 1.2s ease;	
height:100px;
}
#logo.sticky img{		
	height:68px;
	width:auto;
}

a {
    color: #545454;
}
a:hover {
    color: #000;
}
/* End Taxonomy Styles */ 
.divi{
	border-bottom: 1px solid #212121;
    display: block;
    margin: 10px 0;
    width: 100%;
}
.center-it {
  margin: 50px 0 0 50px;
  left: 50%;
  top: 50%;
}
.tagline {
    height: 75px !important;
}

.style-block-dark {
    background-color: #000;
    border-bottom: 1px solid #c9c9c9;
    height: 100%;
}

.style-block-darkRed {
    background: linear-gradient(270deg, #650000, #000000, #1c2a78);
	background-size: 600% 600%;

	-webkit-animation: darkredtoblack 30s ease infinite;
	-moz-animation: darkredtoblack 30s ease infinite;
	animation: darkredtoblack 30s ease infinite;
    border-bottom: 1px solid #c9c9c9;
    height: 100%;
}
 @-webkit-keyframes darkredtoblack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes darkredtoblack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes darkredtoblack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.style-block-darkBlue {
    background:rgba(0, 0, 0, 0.37) linear-gradient(269deg, rgba(49, 20, 91, 0.49), rgba(7, 1, 18, 0.73), rgba(7, 1, 18, 0.66), rgba(15, 42, 111, 0.74)) repeat scroll 0 0 / 800% 300%;
	background-size: 800% 300%;

	-webkit-animation: bluepurp 23s ease infinite;
	-moz-animation: bluepurp 23s ease infinite;
	-o-animation: bluepurp 23s ease infinite;
	animation: bluepurp 23s ease infinite;
	border-bottom: 1px solid #c9c9c9;
    height: 100%;	
}
@-webkit-keyframes bluepurp {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	@-moz-keyframes bluepurp {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	@-o-keyframes bluepurp {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	@keyframes bluepurp {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
.blackout-1 {
  background:rgba(0, 0, 0, 0.37) linear-gradient(269deg, rgba(49, 20, 91, 0.49), rgba(7, 1, 18, 0.73), rgba(7, 1, 18, 0.66), rgba(15, 42, 111, 0.74)) repeat scroll 0 0 / 800% 300%;
	background-size: 800% 300%;

	-webkit-animation: bluepurp 23s ease infinite;
	-moz-animation: bluepurp 23s ease infinite;
	-o-animation: bluepurp 23s ease infinite;
	animation: bluepurp 23s ease infinite;
  height: 100%;
}
.blackout-none{
	height:100%;
}
.backshadow {
    border: 3px solid #ffffff;
    box-shadow: 0 0 18px #adadad;
}
.color-block{
	position:relative;	
}
.rotatezhp1{
	-webkit-transform: rotateZ(-10deg); /* Safari */
    transform: rotateZ(-10deg); /* Standard syntax */
}

/* Nav do not use only temporary */ 
nav ul{
	width:100%;
	padding-top: 50%;
}
nav li{
	display:inline;
	padding:0 20px;
	border-right:1px solid #ddd;	
}
nav li:last-child{
	border-right:none;
}
nav {
    display: flex;
    float: right;
    height: 70px;
    position: relative;
}
/* End nav styles */ 
/* Team Mates */ 
.team-title{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-style:italic;
	color:#4F4F4F;
}
.team-rows{
	margin:40px 0;
	border-bottom:1px solid #F2F2F2;
	padding:40px 0;
}
.team-member{
	display:block;
	width:100%;
	height:auto;	
}
/* team page */ 
.hero-team {
    padding: 10px 0;
}
/* footer  */ 
.footer-back{
	background-color:#171717;
	min-height:300px;
	margin-top:20px;
	padding:20px 0;
}






































