
.updraft {
  background: rgba(0, 0, 0, 0.70) none repeat scroll 0 0;
  border-top: 3px solid #fff;
  bottom: 0;
  padding: 10px ;
  position: absolute;
  height: 25%;
  width: 100%;
  overflow: hidden;
}

.updraft:hover{
  height: 100%;
  @include transition(height 22s ease-in-out);
}
