
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.btn,
.button {
	transition: all 0.1s ease-in-out 0s;
}

button:active
button:hover,
.btn-fluidity:active,
.btn-fluiduty:hover,
.pager li a:active,
.pager li a:hover {
	box-shadow: 0 0 8px rgba( 0, 0, 0, 0.6 );
}

.updraft {
  background: rgba(0, 0, 0, 0.70) none repeat scroll 0 0;
  border-top: 3px solid #fff;
  bottom: 0;
  padding: 10px ;
  position: absolute;
  height: 25%;
  width: 100%;
  overflow: hidden;
}

.updraft:hover{
  height: 100%;
  @include transition(height 22s ease-in-out);
}
