.centered {
	margin-right: auto;
	margin-left: auto;
	align: center;
	text-align: center;
	vertical-align: middle;
}

.fullheight {
  height: 100%;
}

.inline { display: inline; }

.margintop,
.margint1e { margin-top: 1em; }

.nomargin { margin: 0 }
.nopad { padding: 0; }

.padbott,
.padb1e { padding-bottom: 1em; }
