
header {
	font-family: 'Open Sans', sans-serif;
	transition: all 1.2s ease;
	z-index: 5000;
}
/*
.header-opaque {
  @include opacity(.7);
  & #header-menubar {
    @include opacity(1.2);
  }
} //*/

.header-static {
}

.header-fixed {
	position: fixed;
	top: 0;
	z-index: 3;
}

.header-reduce {
	position: fixed;
	top: 0;
}

.header-hide {
}
