
header {
  border-bottom: 1em solid transparent;
}

.header-opaque {
  @include opacity(.7);
  & #header-menubar {
    @include opacity(1.2);
  }
} //*/

.header-static {
}

.header-fixed {
  position: fixed;
  top: 0;
  transition: top 0.4s ease-in-out;
  z-index: 5000;
//  @include opacity(1);
}

.header-reduce {
}

.header-hide {
}
