
.fluidity-social-icons {
	font-size: x-large;
	margin-top:auto;
	margin-bottom:auto;
	& a {
		border: none;
		&:hover, &:focus, &:visited {
			border: none;
		}
	}
}

form.searchform .input-group {
	width: 100%;
}

.input-group .input-group-btn .btn-search {
	margin-left: 0;
}

.navbar-form .lost-password {
	margin-left: 1em;
}

.navbar-header {
    border-radius: 4px;
}

.tcc-icon {
	height: 15px;
	width: auto;
}
