
.fluidity-social-icons {
  font-size: x-large;
  margin-top:auto;
  margin-bottom:auto;
}

.fluid-print-button {
  margin-top: 7px;
}

.navbar-form .lost-password {
	margin-left: 1em;
}

.tcc-icon {
	height: auto;
	width: 30px;
}
