
.fluidity-social-icons {
  font-size: x-large;
  margin-top:auto;
  margin-bottom:auto;
}

.fluid-print-button {
  margin-top: 7px;
}

.navbar-form .lost-password {
	margin-left: 1em;
}

.tcc-icon {
	height: 15px;
	width: auto;
}

@media (min-width: 992px) {
	main {
		float: left;
	}
	.mobile-sidebar {
		float: right;
	}
}
