
.pagination {
	clear:both;
	position:relative;
//	font-size:11px;
//	line-height:13px;
	& span, & a {
		display:block;
		float:left;
		margin: 0.25em 0.5em 0.25em 0;
		padding: 0.3em 1em 0.25em 1em;
		text-decoration:none;
		width:auto;
	}
}


//.pagination {
////	& li {
//		display: inline;
//		& a {
//			margin-left: 0.5em;
//			margin-right: 0.5em;
//		}
//		& a,
//		&.active a,
//		&.disabled,
//		& a:hover {
//			color: #fff;
//			text-decoration:none;
//			background-color: #6FB7E9;
//			border-radius: 3px;
//			cursor: pointer;
//			padding: 12px;
//			padding: 0.75rem;
//		}
//		& a:hover,
//		&.active a {
//			background-color: #3C8DC5;
//		}
////	}
//}
