
article.enclosure {
	border-radius: 6px;
	margin-bottom: 1em;
	padding: 0 1em;
}

body.archive.author {
//	& article {
//		border-radius: 6px;
//		margin-bottom: 1em;
//		padding: 0 1em;
//	}
	& .article {
		margin: 0;
	}
}

.error404 {
	& h3,
	& h4 {
		margin-bottom: 20px;
	}
}
