
/* Create the parallax scrolling effect */

%parallax {
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 400px;
}

.parallax,
.parallax-top {
   @extend %parallax;
   background-position: center top;
	background-size: cover;
}

.parallax-center {
	@extend %parallax;
	background-position: center center;
	background-size: cover;
}

.parallax-bottom {
   @extend %parallax;
   background-position: center bottom;
	background-size: cover;
}

.parallax-contain,
.parallax-contain-top {
	@extend %parallax;
	background-position: center top;
	background-size: contain;
}

.parallax-contain-center {
   @extend %parallax;
   background-position: center center;
   background-size: contain;
}

.parallax-contain-bottom {
   @extend %parallax;
   background-position: center bottom;
   background-size: contain;
}
