/**
 *
 *  11.2 Posts
 *
 */

.article {
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 1rem;
	& img {  // duplicate bootstrap img-responsive
		display: block;
		height: auto;
		max-width: 100%;
	}
	& pre {
		margin-bottom: 2.5rem;
	}
}

.post div {
	max-width:100%;
}

.post-link-separator-middle {
	margin-top: 5px;
}

.post-tags,
.post-categories {
	display: inline;
	list-style: none;
	padding: 0;
	& li {
		display: inline;
		& > a {
			border: 1px solid;
			border-radius: 10px;
			display: inline-block;
			margin-bottom: 2px;
			margin-right: -5px;
			padding: 5px 14px;
		}
	}
}

ul.post-tags li > a {
	margin-right: 2px;
}

.excerpt-title-wrap {
	display: grid;
}

@media (max-width: 991px) { // sm
	.article {
		margin: 0;
	}
}

