/**
 *
 *  11.2 Posts
 *
 */

//article.post .row::before,
//article.post .row::after {
//	display:  inline-block;
//}

.article {
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 1em;
  & img {  // duplicate bootstrap img-responsive
    display: block;
    height: auto;
    max-width: 100%;
  }
}

//.has-fluid-sidebar {
//	& .aligncenter {
//		margin-left: 0;
//	}
//}

.post-link-separator-middle {
	margin-top: 5px;
}

.post-categories {
	list-style: none;
	& li > a {
		border: 1px solid;
		border-radius: 10px;
		display: inline-block;
		padding: 5px 14px;
	}
}

@media (max-width: 991px) { // sm
	.article {
		margin: 0;
	}
}
