@media print {

  article {
    text-decoration: none;
    & a:after {
      content: "";
    }
  }

  body {
    background: #fff;
    color: #000;
    font-size: 8pt;
    line-height: 150%;
    margin: 0px;
    &.custom-background {
      background: none;
    }
  }

  #comments {
    display: none;
  }

  .edit-link {
    display: none;
  }

  #fluid-header {
    display: none;
  }

  .fluid-sidebar aside {
    display: none;
  }

  #fluid-footer {
    display: none;
  }

  .noprint {
    display: none;
  }

}
