@media print {

  article {
    text-decoration: none;
    width: 600px;
  }

  body {
    background: #fff;
    background-image: none;
    color: #000;
    font-size: 10px;
    line-height: 150%;
    margin: 0;
  }

  #comments {
    display: none;
  }

  .edit-link {
    display: none;
  }

  #fluid-header {
    display: none;
  }

  .fluid-sidebar aside {
    display: none;
  }

  #fluid-footer {
    display: none;
  }

  .noprint {
    display: none;
  }

}
