
.standard-width {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .standard-width {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .standard-width {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .standard-width {
    width: 1170px;
  }
}
