
body {
  margin:0;
  background: white;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: black;
  position: relative;
  -webkit-font-smoothing: antialiased;
  //font: "lucida grande","helvetica","arial",sans-serif;
}
