/*  Class definitions required by WordPress  */

.aligncenter { text-align: center; }
.alignleft   { text-align: left;   }
.alignright  { text-align: right;  }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  & img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text { text-align: center; }

.gallery-caption,
.bypostauthor {
  display: block;
}

.sticky { }

// http://a11yproject.com/posts/how-to-hide-content
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
