/**
 *  Class definitions required by WordPress
 *
 *  Also some other wordpress related stuff
 */

.aligncenter { text-align: center; }
.alignleft   { text-align: left;   }
.alignright  { text-align: right;  }

.bypostauthor,
.gallery-caption {
  display: block;
}

.size-full { padding: 0.5em 1em; }


.sticky { }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  & img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text { text-align: center; }

.wp-custom-header iframe,
.wp-custom-header img,
.wp-custom-header video {
	display: block;
	height: auto;
	max-width: 100%;
}

// http://a11yproject.com/posts/how-to-hide-content
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
